@inject NavigationManager NavMan;
@inject IJSRuntime JSRuntime
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<HeadContent>
    <link href="css/app.css?1.0.2" rel="stylesheet" />
    <link href="css/Adjusted.css?1.1.5" rel="stylesheet" />
</HeadContent>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BetterBudgetWeb.Shared.General.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(BetterBudgetWeb.Shared.General.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized() => NavMan.LocationChanged += OnLocationChanged;

    private async void OnLocationChanged(object? sender, EventArgs e)
    {
        await JSRuntime.InvokeAsync<string>("ScrollToTop");

    }

    public void Dispose() => NavMan.LocationChanged -= OnLocationChanged;
}
