<div class ="flex-r" style="justify-content:start;align-items:center;">
    <input id="@Guid.NewGuid().ToString()" class="better" placeholder="@Placeholder" type="@InputType" @onkeydown="@Enter"
           @oninput="@(async (ui) => { Password = (string) ui.Value;})" />
    @* <i class="bi @EyeClass fs-3" style="cursor:pointer;margin:0 1em" @onclick=@(() => ShowPass = !ShowPass)></i> *@
</div>

@code {
    [Parameter]
    public string Password
    {
        get { return password; }
        set
        {
            if (password == value)
                return;
            password = value;
            PasswordChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }
    private string password { get; set; }

    [Parameter]
    public Action<KeyboardEventArgs> Enter { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = "Password";

    private string InputType => ShowPass ? "text" : "password";
    private string EyeClass => ShowPass ? "bi-eye" : "bi-eye-slash";
    private bool ShowPass { get; set; }
}
