@using BetterBudgetWeb.Data
@implements IDisposable

@if (Balances != null)
{
    <div id="balance-tray" class="flex-c-start" style="width:100%">
        <PopTray Id="wor">
            <div style="height:fit-content;padding-bottom:3em">
                <h3 style="text-align:center;">
                    <span>
                        TOTAL NET WORTH:
                    </span>
                    <span style="color:@Constants.GoodOrBad(Constants.TotalNetWorth)">
                        @(Constants.Pretty(Constants.TotalNetWorth))
                    </span>
                </h3>
                <div class="flex-c" style="justify-content:space-between;width:100%">
                    <h3 style="text-align:center">
                        <span>@($"{Constants.Person1}'s Net Worth:")</span> <span style="color:@Constants.GoodOrBad(Constants.Person1NetWorth)">@(Constants.Pretty(Constants.Person1NetWorth))</span>
                    </h3>

                    <h3 style="text-align:center">
                        <span>@($"{Constants.Person2}'s Net Worth:")</span> <span style="color:@Constants.GoodOrBad(Constants.Person2NetWorth)">@(Constants.Pretty(Constants.Person2NetWorth))</span>
                    </h3>
                </div>

                @if (Constants.Envelopes != null && Constants.Envelopes.Count > 0)
                {
                    <div class="flex-c" style="padding-top:1em;align-items:center">
                        <Envelope Name="@GoalTxt" Scale=@(Constants.Mobile?40:8) Font_Size=@(Constants.Mobile?5:1) OnClick=@ToggleGoals />
                    </div>
                }
                @if (Constants.Transactions != null && Constants.Transactions.Count > 0)
                {
                    <div class="flex-c" style="padding-top:1em">
                        <button class="btn btn-secondary" @onclick=@(() => ToggleReports())>View Reports</button>
                    </div>

                    <div class="flex-c" style="padding-top:1em">
                        <button class="btn btn-secondary" @onclick=@(() => ToggleChart())>View Spending</button>
                    </div>
                }
            </div>
        </PopTray>
        <div style="padding-bottom:2vh">
            @foreach (var bal in Balances)
            {
                <BalanceSlot ShowSpending="false" TheBalance="bal" SetClass="selected-account" IncludeGoals=Goals
                             OnClick=@(() => RunClicked(bal)) />
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public List<Balance> Balances { get; set; } = new List<Balance>();
    [Parameter]
    public Action<Balance> OnSlotClick { get; set; }
    [Parameter]
    public Action OnEnvelopeClick { get; set; }
    [Parameter]
    public Action OnReportClick { get; set; }
    [Parameter]
    public Action OnChartClick { get; set; }

    private bool FirstToggle = true;
    private bool ShowWorth = true;
    private string WorthTxt => ShowWorth ? "Show Worth" : "Hide Worth";
    private string GoalTxt = "SHOW GOALS";

    protected override Task OnInitializedAsync()
    {
        Constants.BalancesChanged += BalancesUpdated;
        RefreshBalances();
        return base.OnInitializedAsync();
    }

    private void ToggleShowWorth()
    {
        if (FirstToggle)
            FirstToggle = false;
        ShowWorth = !ShowWorth;
    }

    private void RunClicked(Balance bal)
    {
        if (OnSlotClick != null)
            OnSlotClick(bal);
    }

    private bool Goals;
    public void SetGoals(bool goal)
    {
        Goals = goal;
        StateHasChanged();
    }

    private void ToggleGoals()
    {
        Goals = !Goals;
        GoalTxt = Goals ? "HIDE GOALS" : "SHOW GOALS";

        Constants.Envelopes = new List<Data.Envelope>(Constants.Envelopes.OrderByDescending(e => e.TotalAmount / e.Goal));
        if (OnEnvelopeClick != null)
            OnEnvelopeClick();
    }

    private void ToggleReports()
    {
        if (OnReportClick != null)
            OnReportClick();
    }

    private void ToggleChart()
    {
        if (OnChartClick != null)
            OnChartClick();
    }

    public void RefreshBalances()
    {
        Balances = Constants.catchAll.Balances;
        Balances.Sort(Constants.CompareBalance);
        StateHasChanged();
    }

    private void BalancesUpdated(object sender, List<Balance> e)
    {
        Balances = new List<Balance>(e);
        Balances.Sort(Constants.CompareBalance);

        StateHasChanged();
    }

    public void Dispose()
    {
        Constants.BalancesChanged -= BalancesUpdated;
    }
}
