<div class="text-color flex-c" style="background-color:transparent;width:100%;">
    <div class="chart-bar-hor__label flex-r" style="justify-content:start;border:none;width:100%;text-align:start;cursor:pointer" @onclick=OnClick>
        <h4 class="text-color" style="padding-right:1em">@Label </h4>
        @if (Value != MaxValue)
        {
            if (Show)
            {
                <h4 class="oi oi-caret-bottom"></h4>
            }
            else
            {
                <h4 class="oi oi-caret-right"></h4>
            }
        }
    </div>
    @if (Negative)
    {
        <h5 style="cursor:pointer;color:red;text-align:center">@(Constants.Pretty(Value))</h5>
    }
    else
    {
        @if (Value > MaxValue)
        {
            <h5 style="cursor:pointer;color:@Constants.ColorScheme["IncomeGood"];text-align:center">@(Constants.Pretty(Value))</h5>
        }
        else
        {
            string tempPercent = Percentage + "%";
            if (Percentage > 50)
            {
                tempPercent = (100 - Percentage) + "%";
                padding = "right";
                tAlign = "end";
            }
            <h5 style="cursor:pointer;color:@Constants.ColorScheme["IncomeGood"];padding-@(padding):calc(@tempPercent - 1em);text-align:@(tAlign)">@(Constants.Pretty(Value))</h5>
        }
    }
    <div class="chart-bar-hor__inner flex-r" style="@BackgroundColorAdjusted;justify-content:start;cursor:pointer" @onclick=OnClick>
        @if (Negative)
        {
            <div class="chart-bar-hor__fill-bad"
                 style="width:@BarFillWidth"></div>
        }
        else
        {

            <div class="chart-bar-hor__fill"
                 style="@FillColorAdjusted;width:@BarFillWidth"></div>
        }
    </div>
    <div class="flex-c" style="border:none;width:100%;">
        @if (Negative)
        {
            <h5 @onclick=OnClick style="text-align:end;color:red;cursor:pointer">@(Constants.Pretty(MaxValue))</h5>
        }
        else
        {
            <h5 @onclick=OnClick style="text-align:end;cursor:pointer;color:@Constants.ColorScheme["IncomeGood"]">@(Constants.Pretty(MaxValue))</h5>
        }

        @if (Show)
        {
            <div class="flex-r" style="flex-wrap:wrap;width:100%">
                <MonthlySpending @ref="Child" ExpenseType=@ST Name=@Label RefreshParent="@RefreshMe" />
                @if (BottomBorder)
                {
                    <hr style="width:100%" />
                }
            </div>
        }
        @if (BottomBorder && !Show)
        {
            <hr style="margin-top:5vh" />
        }
    </div>
</div>

@code {
    [Parameter]
    public string Dynamic { get; set; }
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string SearchTerm { get; set; }
    [Parameter]
    public bool BottomBorder { get; set; }
    [Parameter]
    public bool Negative { get; set; }
    [Parameter]
    public EventCallback<string> DateBarClicked { get; set; }
    [Parameter]
    public string FillColor { get; set; }
    [Parameter]
    public string BackgroundColor { get; set; }
    [Parameter]
    public bool Reverse { get; set; }

    private string FillColorAdjusted => string.IsNullOrEmpty(FillColor) ? "" : "background-color:" + FillColor;
    private string BackgroundColorAdjusted => string.IsNullOrEmpty(BackgroundColor) ? "" : "background-color:" + BackgroundColor;

    public string ST => string.IsNullOrEmpty(SearchTerm) ? Label : SearchTerm;

    private MonthlySpending Child;
    private bool Show;

    public double val = 0;
    public double maxVal = 0;

    string padding = "left";
    string tAlign = "start";
    double Percentage = 0;


    [Parameter]
    public double Value
    {
        get { return val; }
        set
        {
            val = value;

            if (MaxValue > 0)
            {

                SetFillWidth();
                StateHasChanged();
            }

            if (Show)
                Child?.RefreshMe();
        }
    }

    [Parameter]
    public double MaxValue
    {
        get { return maxVal; }
        set
        {
            maxVal = value;

            if (maxVal > 0)
            {
                SetFillWidth();
                StateHasChanged();
            }
        }
    }

    public string BarFillWidth { get; set; } = "0%";

    protected override Task OnInitializedAsync()
    {
        var c = Negative;
        return base.OnInitializedAsync();
    }

    private void OnClick()
    {
        Show = !Show && Value != MaxValue;
    }

    private void SetFillWidth()
    {
        if (Reverse)
            Percentage = (100 - Math.Round(((MaxValue - val) / MaxValue) * 100));
        else
            Percentage = (100 - Math.Round((val / MaxValue) * 100));

        BarFillWidth = Percentage + "%";
    }

    private void RefreshMe()
    {
        var curdci = Constants.DynamicCostItems.FirstOrDefault(dci => dci.Name == Label);
        if (curdci != null)
            Value = curdci.Left;
        StateHasChanged();
    }
}
