@using Simulation

@if (Mobile)
{
    <div style="width:100%; margin-right:2vw;">
    <table>
        <tr>
            <th colspan="2" style="font-size:3vw;background-color:orange;color:white"><i>Ideal Emergency Fund</i></th>
        </tr>
        <tr>
            <td style="font-size:3vw;padding:.5vw 0;">@Constants.Person1</td>
            <td style="font-size:3vw;">@(Constants.Pretty(ThreeMonthsPerson1) + " - " + Constants.Pretty(SixMonthsPerson1))</td>
        </tr>
        <tr>
            <td style="font-size:3vw;padding:.5vw 0;">@Constants.Person2</td>
            <td style="font-size:3vw;">@(Constants.Pretty(ThreeMonthsPerson2) + " - " + Constants.Pretty(SixMonthsPerson2))</td>
        </tr>
        <tr>
            <td style="font-size:3vw;" colspan="2">=</td>
        </tr>
        <tr>
            <td style="font-size:3vw;"><strong>Total</strong></td>
            <td style="font-size:3vw;">@(Constants.Pretty(ThreeMonthsPerson1 + ThreeMonthsPerson2) + " - " + Constants.Pretty(SixMonthsPerson1 + SixMonthsPerson2))</td>
        </tr>
    </table>
</div>
}
else
{
    <div style="width:100%;">
        <table>
            <tr>
                <th colspan="2" style="background-color:orange;color:white"><i>Ideal Emergency Fund</i></th>
            </tr>
            <tr>
                <td style="padding:.5vw 0;">@Constants.Person1</td>
                <td>@(Constants.Pretty(ThreeMonthsPerson1) + " - " + Constants.Pretty(SixMonthsPerson1))</td>
            </tr>
            <tr>
                <td style="padding:.5vw 0;">@Constants.Person2</td>
                <td>@(Constants.Pretty(ThreeMonthsPerson2) + " - " + Constants.Pretty(SixMonthsPerson2))</td>
            </tr>
            <tr>
                <td colspan="2">=</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td>@(Constants.Pretty(ThreeMonthsPerson1 + ThreeMonthsPerson2) + " - " + Constants.Pretty(SixMonthsPerson1 + SixMonthsPerson2))</td>
            </tr>
        </table>
    </div>
}

@code {
    [Parameter]
    public bool Mobile { get; set; }
    public double ThreeMonthsPerson1 => GetTotalForMonths(3, Constants.Person1);
    public double ThreeMonthsPerson2 => GetTotalForMonths(3, Constants.Person2);
    public double SixMonthsPerson1 => GetTotalForMonths(6, Constants.Person1);
    public double SixMonthsPerson2 => GetTotalForMonths(6, Constants.Person2);

    private static double GetTotalForMonths(int months, string person)
    {
        double Total = 0;

        int CurrentSimMonth = SimulatedConstants.Month;
        int CurrentSimYear = SimulatedConstants.Year;

        DateTime CurrentDate = DateTime.Now;
        int month;
        int year;

        for(int step = 0; step < months; step++)
        {
            month = CurrentDate.AddMonths(step).Month;
            year = CurrentDate.AddMonths(step).Year;
            SimulatedConstants.SetMonthlies(month, year);
            Total += person == Constants.Person1 ? SimulatedConstants.TotalPerson1Expenses : SimulatedConstants.TotalPerson2Expenses;
        }

        SimulatedConstants.SetMonthlies(CurrentSimMonth, CurrentSimYear);

        return Total;
    }
}
