@if (Mobile)
{
    <div style="width:100%; margin-right:2vw;">
    <table>
        <tr>
            <th colspan="2" style="font-size:3vw;background-color:orange;color:white"><i>Ideal Emergency Fund</i></th>
        </tr>
        <tr>
            <td style="font-size:3vw;padding:.5vw 0;">@Constants.Person1</td>
            <td style="font-size:3vw;">@(Constants.Pretty(OneMonthPerson1*3) + " - " + Constants.Pretty(OneMonthPerson1*6))</td>
        </tr>
        <tr>
            <td style="font-size:3vw;padding:.5vw 0;">@Constants.Person2</td>
            <td style="font-size:3vw;">@(Constants.Pretty(OneMonthPerson2*3) + " - " + Constants.Pretty(OneMonthPerson2*6))</td>
        </tr>
        <tr>
            <td style="font-size:3vw;" colspan="2">=</td>
        </tr>
        <tr>
            <td style="font-size:3vw;"><strong>Total</strong></td>
            <td style="font-size:3vw;">@(Constants.Pretty((OneMonthPerson1 + OneMonthPerson2)*3) + " - " + Constants.Pretty((OneMonthPerson1 + OneMonthPerson2)*6))</td>
        </tr>
    </table>
</div>
}
else
{
    <div style="width:100%; margin-right:2vw; margin-top:2vh;">
        <table>
            <tr>
                <th colspan="2" style="background-color:orange;color:white"><i>Ideal Emergency Fund</i></th>
            </tr>
            <tr>
                <td style="padding:.5vw 0;">@Constants.Person1</td>
                <td>@(Constants.Pretty(OneMonthPerson1*3) + " - " + Constants.Pretty(OneMonthPerson1*6))</td>
            </tr>
            <tr>
                <td style="padding:.5vw 0;">@Constants.Person2</td>
                <td>@(Constants.Pretty(OneMonthPerson2*3) + " - " + Constants.Pretty(OneMonthPerson2*6))</td>
            </tr>
            <tr>
                <td colspan="2">=</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td>@(Constants.Pretty((OneMonthPerson1 + OneMonthPerson2)*3) + " - " + Constants.Pretty((OneMonthPerson1 + OneMonthPerson2)*6))</td>
            </tr>
        </table>
    </div>
}

@code {
    [Parameter]
    public double OneMonthPerson1 { get; set; }
    [Parameter]
    public double OneMonthPerson2 { get; set; }
    [Parameter]
    public bool Mobile { get; set; }
}
