@using BetterBudgetWeb.Data;
@using BetterBudgetWeb.Data;
@using BetterBudgetWeb.Repo;
@using BetterBudgetWeb.Runner;
@using BetterBudgetWeb.Shared.Balances
@using BetterBudgetWeb.Shared.General
@inject IJSRuntime JSRuntime
@implements IDisposable

<table style="width:100%;margin-bottom:1vh">
    @* <tr style="height:3vw">
        <th style="background-color: @Constants.ColorScheme["TableOdd"];padding:0 1vw;" colspan="100%">
            <h4>@Title</h4>
            @if (!string.IsNullOrEmpty(TheBalance))
            {
                <h4>@(" for " + TheBalance)</h4>
            }
        </th>
    </tr> *@
    @if (FilteredTransactions != null)
    {
        string PrevMonth = "";
        @foreach (var transaction in FilteredTransactions)
        {
            @if (PrevMonth != @transaction.DateOfTransaction.ToString("dd MMM"))
            {
                PrevMonth = transaction.DateOfTransaction.ToString("dd MMM");
                <tr style="border:1px black solid;background-color: @Constants.ColorScheme["TableEven"];">
                    <td colspan="100%">
                        <div style="padding-left:1em;text-align:left">@PrevMonth</div>
                    </td>
                </tr>
            }
            <tr style="cursor:pointer;border:1px black solid;background-color: @Constants.ColorScheme["TableOdd"];" @onclick=@(() => TransEdits[transaction.Id] = !TransEdits[transaction.Id])>
                <td class="flex-r" style="justify-content:start;border:none">
                    <div class="flex-c" style="justify-content:space-between;align-items:start;padding:1em">
                        <div style="color:white;text-align:start">
                            @transaction.Name
                        </div>
                        <div style="text-align:start;color:@Constants.ColorScheme["Text"]">
                            @transaction.ExpenseType
                        </div>
                    </div>
                </td>
                @if (TransEdits[transaction.Id])
                {
                    <td>
                        <div class="flex-r">
                            @if (!(transaction.ExpenseType == "Debt" || transaction.ExpenseType == "Transfer"))
                            {
                                <button class="btn btn-secondary" disabled=@Disabled style="background-color:transparent;margin:.5vh;height:5vh;" @onclick="(() => OpenModal(transaction))"><span class="oi oi-pencil"></span></button>
                            }
                            <button class="btn" disabled=@Disabled style="background-color:transparent;color:red;border:none;margin:.5vh;height:5vh;" @onclick="(() => DelBtn(transaction))"><span class="bi bi-trash" style="color:red"></span></button>
                        </div>
                    </td>
                }
                else
                {
                    @if (transaction.Person1Amount == transaction.TotalAmount)
                    {
                        <td style="height:100%;border:none">
                            <div class="@(TranColor(transaction.ExpenseType, transaction.Person1Amount))">@Pretty(transaction.Person1Amount)</div>
                        </td>
                    }
                    else if (transaction.Person2Amount == transaction.TotalAmount)
                    {
                        <td style="height:100%;border:none">
                            <div class="@(TranColor(transaction.ExpenseType, transaction.Person2Amount))">@Pretty(transaction.Person2Amount)</div>
                        </td>
                    }
                }
            </tr>
        }
    }
</table>

@code {
    [CascadingParameter]
    public BalanceTray GlobalBT { get; set; }
    [CascadingParameter]
    public EventCallback<Transaction> RunModal { get; set; }
    [CascadingParameter]
    public MainLayout MainLayout { get; set; }

    [Parameter]
    public string Title { get; set; } = "Transactions";

    [Parameter]
    public EventCallback<bool> OnEditConfirm { get; set; }

    [Parameter]
    public string ExpenseType { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public bool ShowPerson { get; set; } = true;

    [Parameter]
    public EventCallback RefreshParent { get; set; }

    public List<Transaction> FilteredTransactions { get; set; }

    [Parameter]
    public string TheBalance
    {
        get { return theBalance; }
        set
        {
            if (theBalance == value)
                return;
            theBalance = value;

            FilteredTransactions = GetTransactions();
        }
    }
    public string theBalance { get; set; }

    private bool Show { get; set; }
    private bool Disabled { get; set; }

    private Dictionary<string, bool> TransEdits { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        FilteredTransactions = GetTransactions();

        Constants.TransactionsChanged += TransactionsUpdated;
        return base.OnInitializedAsync();
    }

    private string TranColor(string et, double amount)
    {
        return IndexRunner.TranColor(et, amount);
    }

    private string Pretty(double num)
    {
        return Constants.Pretty(num);
    }

    private async void DelBtn(Transaction transaction)
    {
        MainLayout.ModalType = "D";
        await RunModal.InvokeAsync(transaction);
    }
    private async void CloseModal(bool accepted)
    {
        if (accepted)
        {
            await OnEditConfirm.InvokeAsync(accepted);
            await RefreshParent.InvokeAsync();
            StateHasChanged();
        }
        MainLayout.ToggleOverflow("auto");
    }
    private async void OpenModal(Transaction trans)
    {
        MainLayout.ModalType = "E";
        await RunModal.InvokeAsync(trans);
        StateHasChanged();
    }
    private List<Transaction> GetTransactions()
    {
        List<Transaction> transactions = Constants.catchAll.Transactions.Where(t => t.MonthYear() == Constants.MonthYear()).ToList();

        if (!string.IsNullOrEmpty(ExpenseType))
        {
            var tempTransactions = transactions.Where(t => t.ExpenseType == ExpenseType).ToList();

            transactions = tempTransactions.Count == 0 ?
                transactions = transactions.Where(t => t.ExpenseType == "1-Time Charge" && t.Name == Name).ToList() : new(tempTransactions);
        }
        else if (!string.IsNullOrEmpty(TheBalance))
        {
            transactions = transactions.Where(tr => ValidBalance(tr)).ToList();
        }

        transactions = transactions.OrderByDescending(t => t.DateOfTransaction).ToList();

        TransEdits.Clear();

        foreach (var tt in transactions)
            TransEdits[tt.Id] = false;

        return transactions;
    }

    private bool ValidBalance(Transaction transaction)
    {
        return transaction.PaidWithPerson1 == TheBalance ||
               transaction.PaidWithPerson2 == TheBalance ||
               transaction.PaidOffPerson1 == TheBalance ||
               transaction.PaidOffPerson2 == TheBalance;
    }

    public void RefreshMe()
    {
        StateHasChanged();
    }

    private void TransactionsUpdated(object sender, List<Transaction> e)
    {
        FilteredTransactions = GetTransactions();
        StateHasChanged();
    }

    public void Dispose()
    {
        Constants.TransactionsChanged -= TransactionsUpdated;
    }
}