    @using BetterBudgetWeb.Data
@using BetterBudgetWeb.MainMenuItems
@using BetterBudgetWeb.MainMenuItems.Chart
@using BetterBudgetWeb.Repo
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.MonthView
@using System.Data;

@inject IJSRuntime JSRuntime

@if (!Constants.Mobile)
{
    <div class="flex-r" style="flex-wrap:wrap;justify-content:space-evenly;margin-bottom:2vh">
        <div class="flex-c">
            <!-- Monthly Goal Tracking -->
            <CascadingValue Value="MR">
                <MonthViewMonthlyGoalTracking Month="@Month" CostAmount="@CostAmount" @bind-IncomeOverflow="IncomeOverflow" />
            </CascadingValue>

        </div>
        <div class="flex-c-start">
            <!-- Dynamic Costs -->

            <div style="width:100%;margin-bottom:1em">
                <table class="toggle-table">
                    <tr>
                        <th colspan="2" style="background-color:magenta;color:white;"><i>Budget Categories</i></th>
                    </tr>
                    <tr>
                        <th>
                            <span>Expense</span>
                        </th>
                        <th>Total Budget Amount</th>
                    </tr>
                    @foreach (var dci in MonthViewConstants.DynamicCostItems)
                    {
                        @if (dci.Name.Contains("EXAMPLE DATA"))
                        {
                            <tr>
                                <td style="padding:.5vw 1vw;"><i>@dci.Name</i></td>
                                <td>@Pretty(dci.TotalAmount)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="padding:.5vw 1vw;">
                                    <span style="align-self:start">@dci.Name</span>
                                </td>
                                <td>@Pretty(dci.TotalAmount)</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="2">=</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td>@Pretty(MonthViewConstants.DynamicCostItems.Sum(d => d.TotalAmount))</td>
                    </tr>
                </table>
            </div>

            <!-- Set Monthly Expenses Goals -->
            <MonthViewSetMonthlyTable Month=Month Year=Year @bind-StaticMonthMap=StaticMonthMap />
        </div>
    </div>
}
else
{
    <br style="clear:both" />
    <br />

    <!-- Monthly Goal Tracking -->
    <CascadingValue Value="MR">
        <MonthViewMonthlyGoalTracking Month="@Month" CostAmount="@CostAmount" @bind-IncomeOverflow="IncomeOverflow" />
    </CascadingValue>

    <!-- Dynamic Costs -->
    <div style="width:100%;">
        <table class="toggle-table">
            <tr>
                <th colspan="2" style="background-color:magenta;color:white"><i>Budget Categories</i></th>
            </tr>
            <tr>
                <th>Expense</th>
                <th>Total Budget Amount</th>
            </tr>
            @foreach (var dci in MonthViewConstants.DynamicCostItems)
            {
                @if (dci.Name.Contains("EXAMPLE DATA"))
                {
                    <tr>
                        <td style="padding:.5vw 1vw;"><i>@dci.Name</i></td>
                        <td>@Pretty(dci.TotalAmount)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="padding:.5vw 1vw;">
                            <span style="align-self:start">@dci.Name</span>
                        </td>
                        <td>@Pretty(dci.TotalAmount)</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="2">=</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td>@Pretty(MonthViewConstants.DynamicCostItems.Sum(d => d.TotalAmount))</td>
            </tr>
        </table>
    </div>

    <br />

    <!-- Set Monthly Expenses Goals -->
    <MonthViewSetMonthlyTable Month=Month Year=Year @bind-StaticMonthMap=StaticMonthMap />

    <br />
    <br />
}

@code {
    [Parameter]
    public MonthRelations MR { get; set; }

    public int Month => MR.Month;
    public int Year => MR.Year;

    public double incomeOverflow { get; set; }
    public double IncomeOverflow
    {
        get => incomeOverflow;
        set
        {
            if (incomeOverflow == value) return;
            incomeOverflow = value;
            Person1Overflow = incomeOverflow / 2;
            Person2Overflow = incomeOverflow / 2;
        }
    }

    public double person1Overflow { get; set; }

    [Parameter]
    public double Person1Overflow
    {
        get => person1Overflow;
        set
        {
            if (person1Overflow == value) return;
            person1Overflow = value;
            Person1OverflowChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<double> Person1OverflowChanged { get; set; }

    public double person2Overflow { get; set; }

    [Parameter]
    public double Person2Overflow
    {
        get => person2Overflow;
        set
        {
            if (person2Overflow == value) return;
            person2Overflow = value;
            Person2OverflowChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<double> Person2OverflowChanged { get; set; }

    private List<LinePlot> Plots = new List<LinePlot>();

    // Monthly-Name -> (Person1-BalanceName, Person2-BalanceName)
    private Dictionary<string, (string, string)> StaticMonthMap { get; set; } = new Dictionary<string, (string, string)>();
    private Dictionary<string, (string, string)> DynaMonthMap { get; set; } = new Dictionary<string, (string, string)>();

    private double CostAmount => MonthViewConstants.DynamicCostItems.Sum(d => d.TotalAmount) + MonthViewConstants.StaticMonthlyCosts.Sum(smc => smc.TotalAmount);

    private List<ExpenseAmount> Expenses => MR.Expenses;

    private string MonthYear => (new DateTime(Year, Month, 1).ToString("MMMM") + " " + Year.ToString());

    protected override async Task OnInitializedAsync()
    {
        MonthViewConstants.SetMonthlies(Month, Year);

        StaticMonthMap = new Dictionary<string, (string, string)>();
        DynaMonthMap = new Dictionary<string, (string, string)>();

        Plots = new List<LinePlot>(Constants.Plots);
        Plots.RemoveAt(0);
        Plots.Add(new LinePlot(MR.Name, MR.ProjectPerson1Income, false));
        StateHasChanged();
    }
    private string Pretty(double num)
    {
        return Constants.Pretty(num);
    }
}