@using System.Globalization
@using BetterBudgetWeb.Data
@if (Mobile)
{
    <div style="width:100%; float:left;">
        <table>
            <tr>
                <th colspan="4" style="font-size:3vw;background-color:green;color:white"><i>Set Monthly Costs</i></th>
            </tr>
            <tr>
                <td></td>
                <td style="font-size:3vw;">@Constants.Person1</td>
                <td style="font-size:3vw;">@Constants.Person2</td>
                <td style="font-size:3vw;">Total</td>
            </tr>
            @foreach (var smc in SimulatedConstants.StaticMonthlyCosts)
            {
                @if (Determine(smc))
                {
                    <tr style="font-size:3vw;text-decoration:line-through;color:forestgreen">
                        <td style="font-size:3vw;padding:.5vw 1vw;">@smc.Name</td>
                        <td style="font-size:3vw;">@("$" + smc.Person1Amount)</td>
                        <td style="font-size:3vw;">@("$" + smc.Person2Amount)</td>
                        <td style="font-size:3vw;">@("$" + smc.TotalAmount)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="font-size:3vw;padding:.5vw 1vw;">@smc.Name</td>
                        <td style="font-size:3vw;">@("$" + smc.Person1Amount)</td>
                        <td style="font-size:3vw;">@("$" + smc.Person2Amount)</td>
                        <td style="font-size:3vw;">@("$" + smc.TotalAmount)</td>
                    </tr>
                }
            }
            <tr>
                <td style="font-size:3vw;" colspan="4">=</td>
            </tr>
            <tr>
                <td style="font-size:3vw;"><strong>Total</strong></td>
                <td style="font-size:3vw;padding-right:.5vw; padding-left:.5vw;">@Constants.Pretty(SimulatedConstants.StaticMonthlyCosts.Sum(na => na.Person1Amount))</td>
                <td style="font-size:3vw;padding-right:.5vw; padding-left:.5vw;">@Constants.Pretty(SimulatedConstants.StaticMonthlyCosts.Sum(la => la.Person2Amount))</td>
                <td style="font-size:3vw;padding-right:.5vw; padding-left:.5vw;">@Constants.Pretty(SimulatedConstants.StaticMonthlyCosts.Sum(ta => ta.TotalAmount))</td>
            </tr>
        </table>
    </div>
}
else
{
    <div style="width:25%; float:left;margin-right:1vw;">
        <table>
            <tr>
                <th colspan="4" style="background-color:green;color:white"><i>Set Monthly Costs</i></th>
            </tr>
            <tr>
                <td></td>
                <td>@Constants.Person1</td>
                <td>@Constants.Person2</td>
                <td>Total</td>
            </tr>
            @foreach (var smc in SimulatedConstants.StaticMonthlyCosts)
            {
                @if (Determine(smc))
                {
                    <tr style="text-decoration:line-through;color:forestgreen">
                        <td style="padding:.5vw 1vw;">@smc.Name</td>
                        <td>@("$" + smc.Person1Amount)</td>
                        <td>@("$" + smc.Person2Amount)</td>
                        <td>@("$" + smc.TotalAmount)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="padding:.5vw 1vw;">@smc.Name</td>
                        <td>@("$" + smc.Person1Amount)</td>
                        <td>@("$" + smc.Person2Amount)</td>
                        <td>@("$" + smc.TotalAmount)</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="4">=</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td style="padding-right:.5vw; padding-left:.5vw;">@Constants.Pretty(SimulatedConstants.StaticMonthlyCosts.Sum(na => na.Person1Amount))</td>
                <td style="padding-right:.5vw; padding-left:.5vw;">@Constants.Pretty(SimulatedConstants.StaticMonthlyCosts.Sum(la => la.Person2Amount))</td>
                <td style="padding-right:.5vw; padding-left:.5vw;">@Constants.Pretty(SimulatedConstants.StaticMonthlyCosts.Sum(ta => ta.TotalAmount))</td>
            </tr>
        </table>
    </div>
}

@code {
    [Parameter]
    public int Month { get; set; }
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public List<Transaction> Trans { get; set; } = new List<Transaction>();
    [Parameter]
    public bool Mobile { get; set; }

    private bool Determine(StaticMonthlyCost smc)
    {
        if (Trans == null)
            return false;

        if (SimulatedConstants.MonthYear() != Constants.MonthYear())
            return false;

        var allMonthYears = Trans.Where(tr => tr.MonthYear() == Constants.MonthYear()).ToList();
        
        if (allMonthYears == null || allMonthYears.Count == 0)
            return false;

        var names = allMonthYears.Select(t => t.Name).ToList();
        foreach (string s in names)
            if (s.Contains(smc.Name))
                return true;
        
        return false;
    }
}
