@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo
@if (Mobile)
{

    <br style="clear:both" />
    <div style="border: 2px solid green; width:90vw;height:40vh;">
        <h1 style="text-align:center;">Balance Preview:</h1>
        <BalanceBlock TheBalance="@(new Balance {Name = BalName, APR = double.TryParse(APR, out double a) ? a : 0, HexColor = Color, TextColor=TextColor,
                                    Value = double.TryParse(Amount, out double v) ? v : 0})"
                      FontSize="4" />
    </div>
    <br />
    <div style="position:relative;">
        <div>
            <label>Balance Name:</label>
            <br />
            <input type="text" placeholder="Balance Name" @bind=BalName @oninput="@(async (ui) => { BalName = (string) ui.Value;})" />
        </div>
        <br />
        <div style="float:left; margin-right:9vw;">
            <label>Expense Type:</label>
            <br />
            <select class="custom-select" @bind=BalanceType title="Type of Balance is required ">
                <option value="Select" selected disabled="disabled">(Choose Balance Type)</option>
                <option value="Equity">Equity</option>
                <option value="Loan">Credit Card/Loan</option>
                <option value="Income">Savings/Checkings/Income</option>
                <option value="Stocks">Stocks/Options/Securities</option>
            </select>
        </div>
        <div style="float:left; margin-right:10vw;">
            <label>Text Color:</label>
            <br />
            <select class="custom-select" @bind=TextColor title="Type of Balance is required ">
                <option value="white" selected>White</option>
                <option value="black">Black</option>
            </select>
        </div>
        <br style="clear:both" />
        <br />
        @if (BalanceType != "Stocks")
        {
            <div>
                <label>APR:</label>
                <br />
                <input type="text" placeholder="APR Percentage (optional)" @bind=APR @oninput="@(async (ui) => { APR = (string) ui.Value;})" />
            </div>
        }
        else
        {
            <div>
                <label>Paid Through Work:</label>
                <br />
                <input @bind="PaidThroughWork" type="checkbox" />
            </div>
        }
        <br />
        <div style="float:left; margin-right:10vw;">
            <label>Initial Amount:</label>
            <br />
            <input type="text" placeholder="Initial Amount" @bind=Amount @oninput="@(async (ui) => { Amount = (string) ui.Value;})" />
        </div>
        <div style="float:left; margin-right:10vw;">
            <label>Color:</label>
            <br />
            <input type="color" @bind=Color />
        </div>
        <br style="clear:both" />
        <br />
        <div style="float:left; margin-right:10vw;">
            <label>Person:</label>
            <br />
            <select class="custom-select" @bind="Person" title="Person's Balance ">
                <option value="@Constants.Person1" selected>@Constants.Person1</option>
                <option value="@Constants.Person2">@Constants.Person2</option>
                <option value="Joint">Joint</option>
            </select>
        </div>
        <br style="clear:both" />
        <br />
        @if (!string.IsNullOrEmpty(ErrorMsg))
        {
            <p style="color:@ErrorColor">@ErrorMsg</p>
        }
        <button class="btn btn-secondary" disabled=@Disabled @onclick=Submit>Submit</button>
        <br />
        <br />
        <br />
        <br />
    </div>
}
else
{

    <div class="tabcontent">
        <div style="float:left; margin-right:10vw;">
            <label>Balance Name:</label>
            <br />
            <input type="text" placeholder="Balance Name" @bind=BalName @oninput="@(async (ui) => { BalName = (string) ui.Value;})" />
        </div>
        <div style="float:left; margin-right:9vw;">
            <label>Expense Type:</label>
            <br />
            <select class="custom-select" @bind=BalanceType title="Type of Balance is required ">
                <option value="Select" selected disabled="disabled">(Choose Balance Type)</option>
                <option value="Equity">Equity</option>
                <option value="Loan">Credit Card/Loan</option>
                <option value="Income">Savings/Checkings/Income</option>
                <option value="Stocks">Stocks/Options/Securities</option>
            </select>
        </div>
        <div style="float:left; margin-right:10vw;">
            <label>Text Color:</label>
            <br />
            <select class="custom-select" @bind=TextColor title="Type of Balance is required ">
                <option value="white" selected>White</option>
                <option value="black">Black</option>
            </select>
        </div>
        <br style="clear:both" />
        <br />
        @if (BalanceType != "Stocks")
        {
            <div style="float:left; margin-right:10vw;">
                <label>APR:</label>
                <br />
                <input type="text" placeholder="APR Percentage (optional)" @bind=APR @oninput="@(async (ui) => { APR = (string) ui.Value;})" />
            </div>
        }
        else
        {
            <div style="float:left; margin-right:10vw;">
                <label>Paid Through Work:</label>
                <br />
                <input @bind="PaidThroughWork" type="checkbox" />
            </div>
        }
        <div style="float:left; margin-right:10vw;">
            <label>Initial Amount:</label>
            <br />
            <input type="text" placeholder="Initial Amount" @bind=Amount @oninput="@(async (ui) => { Amount = (string) ui.Value;})" />
        </div>
        <div style="float:left; margin-right:10vw;">
            <label>Color:</label>
            <br />
            <input type="color" @bind=Color />
        </div>
        <br style="clear:both" />
        <br />
        <div style="float:left; margin-right:10vw;">
            <label>Person:</label>
            <br />
            <select class="custom-select" @bind="Person" title="Person's Balance ">
                <option value="@Constants.Person1" selected>@Constants.Person1</option>
                <option value="@Constants.Person2">@Constants.Person2</option>
                <option value="Joint">Joint</option>
            </select>
        </div>
        <div style="position:absolute;border: 2px solid green; width:20vw;height:80vh;right:1vw;top:15vh;">
            <h1 style="text-align:center;">Balance Preview:</h1>
            <BalanceBlock TheBalance="@(new Balance {Name = BalName, APR = double.TryParse(APR, out double a) ? a : 0, HexColor = Color, TextColor=TextColor,
                                    Value = double.TryParse(Amount, out double v) ? v : 0, BalanceType = BalanceType})"
                          FontSize="2" />
        </div>
        <br style="clear:both" />
        <br />
        @if (!string.IsNullOrEmpty(ErrorMsg))
        {
            <p style="color:@ErrorColor">@ErrorMsg</p>
        }
        <button class="btn btn-secondary" disabled=@Disabled @onclick=Submit>Submit</button>
    </div>
    <br />
    <br />
    <br />
    <br />
}

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string BalName { get; set; }
    [Parameter]
    public string APR { get; set; }
    [Parameter]
    public string Amount { get; set; }
    [Parameter]
    public string BalanceType { get; set; }
    [Parameter]
    public string Color { get; set; } = "#32A852";
    [Parameter]
    public string TextColor { get; set; } = "#32A852";
    [Parameter]
    public bool PaidThroughWork { get; set; }

    public bool Mobile => Constants.Mobile;

    public string Person { get; set; } = Constants.Person1;

    private string ErrorMsg { get; set; } = string.Empty;
    private string ErrorColor { get; set; } = "red";

    private bool Disabled;

    public async void Submit()
    {
        Disabled = true;
        ErrorMsg = string.Empty;
        ErrorColor = "red";
        bool tpAmount = double.TryParse(Amount, out double am);
        bool tpAPR = double.TryParse(APR, out double apr);
        var c = Color;

        ErrorMsg += string.IsNullOrEmpty(BalName) ? "Balance Name must be set. " : "";
        ErrorMsg += string.IsNullOrEmpty(BalanceType) ? "Please select an expense type. " : "";
        ErrorMsg += !tpAmount ? "Amount must be a number. " : "";
        ErrorMsg += !string.IsNullOrEmpty(APR) && !tpAPR ? "APR must be a number. " : "";
        ErrorMsg += string.IsNullOrEmpty(Color) ? "Color must be set." : "";

        if (string.IsNullOrEmpty(ErrorMsg))
        {
            BalanceRepoCaller brc = new BalanceRepoCaller();

            if (BalanceType == "Stocks")
                apr = PaidThroughWork ? 1 : 0;

            var Bal = new Balance(BalName, am, BalanceType, apr, Color, TextColor, Person);
            Bal.Id = Id;

            await brc.AddOrUpdateAsync(Bal);

            ErrorColor = "green";
            ErrorMsg = BalName + " balance was updated!";

            BalName = string.Empty;
            APR = string.Empty;
            Amount = string.Empty;
            BalanceType = string.Empty;
            Color = "#32A852";
        }

        Disabled = false;
        StateHasChanged();
    }
}
