@page "/home"
@using BetterBudgetWeb.Data
@using BetterBudgetWeb.MainMenuItems
@using BetterBudgetWeb.MainMenuItems.Chart
@using BetterBudgetWeb.MainMenuItems.Chart.ChartHorizontal
@using BetterBudgetWeb.Repo
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.Shared.Balances
@using BetterBudgetWeb.Shared.General
@using BetterBudgetWeb.Shared.Tutorial
@using System.Collections.Specialized
@using static BetterBudgetWeb.Shared.LineChart
@using static BetterBudgetWeb.MainMenuItems.AddExpense
@inject IJSRuntime JSRuntime
@implements IDisposable

<GoogleAnalytic />

<PageTitle>Index</PageTitle>
@if (Transactions == null)
{
    <div>Login successful. Pulling data...</div>
}
else
{
    @if (!Constants.Mobile)
    {
        @if (DataPoints != null && DataPoints.Count > 0)
        {
            <PopTray Id="spend" @bind-ShowWorth=ShowChart
            ShowTxt="Show Spending"
            HideTxt="Hide Spending"
            TopButton=true
            BottomButton=false>
                <Chart DPs=DataPoints />
            </PopTray>
        }
        <br />

        <div class="flex-r" style="flex-wrap:nowrap;justify-content:space-between">
            <div class="flex-r" style="justify-content:start;">
                <div style="width:100%;float:left; margin-right:1vw; margin-bottom:2vh;display:inline-block;">
                    <LineChart Plots="Plots" ChartId="chart_div" />
                    <div class="flex-r" style="margin-bottom:2vh;">
                        <div>
                            <!-- Savings Goals-->
                            <MonthlyGoalTracking ActualDynamicAmount=@ActualDynamic
                            ActualStaticAmount=@ActualStatic
                            ActualIncomeAmount=@ActualIncome
                            EnvelopeAmount=@EnvelopeExpenses />
                        </div>
                        <br />

                        <div class="flex-c-start" style="margin-left:1vw">
                            <PopTray Id="char" ShowWorth=ShowChart ShowButton=false>
                                <div style="margin-bottom:2em">
                                    <MonthlySpending Title="@(Constants.TheMonthsFromInt[DateTime.Now.Month] + " Transactions")"
                                    TheBalance="@SelectedBalance" />
                                </div>
                            </PopTray>

                            <!-- Dynamic Costs -->
                            <ChartHorizontal DPs=@DynamicCostItems />
                        </div>
                    </div>
                </div>

                <br />
                <div style="display:inline-block;width:50%;">
                    <div class="flex-r" style="padding:0;width:100%;justify-content:space-around;align-items:center; margin-bottom:1vh">
                        <div style="width:100%">
                            <PopTray Id="goal-envs-index" ShowTxt="Show Savings Envelopes" HideTxt="Hide Savings Envelopes" Margin="0 0 1em 0" @bind-ShowWorth=Goals TopButton=true BottomButton=false>
                                <button class="btn btn-success" style="width:100%;align-self:center;color:black" @onclick=@(() => ToggleStash())>Stash Cash</button>
                                <br style="clear:both" />
                                <br style="clear:both" />
                                <button class="btn btn-danger" style="width:100%;align-self:center;color:black" @onclick=@(() => ToggleCash())>Cash Out</button>
                                <br />
                                <br />

                                <div class="flex-c">
                                    <div style="font-size:1.5vw;text-align:center">
                                        Total Goals:
                                        <span> @Constants.Pretty(Envelopes.Sum(e => e.Goal))</span>
                                    </div>
                                    <div style="text-align:center;font-size:1.5vw;">
                                        Total Saved:
                                        <span> @Constants.Pretty(Envelopes.Sum(e => e.TotalAmount))</span>
                                    </div>
                                    <hr />
                                    <div class="flex-r" style="font-size:1.25vw;justify-content:space-evenly">
                                        <div class="flex-c" style="font-size:1.25vw;justify-content:space-between">
                                            <div style="text-align:center;">@Constants.Person1 Saved:</div>
                                            <div style="text-align:center;"> @Constants.Pretty(Envelopes.Sum(e => e.Person1Amount))</div>
                                        </div>
                                        <div class="flex-c" style="font-size:1.25vw;justify-content:space-between">
                                            <div style="text-align:center;">@Constants.Person2 Saved:</div>
                                            <div style="text-align:center;"> @Constants.Pretty(Envelopes.Sum(e => e.Person2Amount))</div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="flex-r" style="font-size:3vw;flex-wrap:wrap;padding-bottom:2em;align-content:center;align-items:center">
                                    @foreach (var env in Envelopes)
                                    {
                                        <Envelope Name="@env.Name" Scale=11 Font_Size=1.375
                                        Goal=@Math.Max(env.Goal,env.Person1Amount + env.Person2Amount)
                                        Saved=@env.TotalAmount FlipClick="true"
                                        Person1Account="@(BalanceRepo.GetName(env.Person1Account))"
                                        Person2Account="@(BalanceRepo.GetName(env.Person2Account))"
                                        Person1Amount="@env.Person1Amount"
                                        Person2Amount="@env.Person2Amount" />
                                    }
                                </div>
                            </PopTray>
                            <AddExpense OnAddConfirm="Add" Added="Added" @bind-Disabled=AddDisabled />
                            <br style="clear:both;" />
                            <!-- Set Monthly Expenses Goals-->
                            <SetMonthlyTable />
                            <br style="clear:both;" />
                            <!-- Ideal Emergency Fund-->
                            <IdealEmergencyFund />
                        </div>
                    </div>
                    <br />
                    <div class="flex-r-100" style="height:fit-content">
                        <div>
                            <select class="custom-select" @bind="SelectedMonth" title="Pick a Download Timeframe " style="width:8vw">
                                <option value="@string.Empty" selected disabled="disabled">(Choose a download)</option>
                                <option value="All">All</option>
                                @foreach (var dt in FoundMonths)
                                {
                                    <option value="@dt">@dt</option>
                                }
                            </select>
                            <select class="custom-select" @bind="SelectedYear" title="Pick a Download Timeframe " style="width:5vw">
                                <option value="@string.Empty" selected disabled="disabled">(Choose a download)</option>
                                <option value="All">All</option>
                                @foreach (var dt in FoundYears)
                                {
                                    <option value="@dt">@dt</option>
                                }
                            </select>
                            @if (ValidChoice)
                            {
                                <button class="btn btn-secondary" style="margin:1vw" @onclick="DownloadCSV"><span class="oi oi-data-transfer-download"></span> CSV</button>
                            }
                            else
                            {
                                <label style="color:red">No values for this combination.</label>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        <BalanceTray @ref=@GlobalBT />

        <PopTray Id="goal-envs-index-mobile" ShowTxt="Show Savings Envelopes" HideTxt="Hide Savings Envelopes" Margin="0 0 1em 0" @bind-ShowWorth=Goals TopButton=true BottomButton=false>
            <div style="display:inline-block;width:100%">
                <button class="btn btn-success" style="width:100%;align-self:center;color:black" @onclick=@(() => ToggleStash())>Stash Cash</button>
                <br style="clear:both" />
                <br style="clear:both" />
                <button class="btn btn-danger" style="width:100%;align-self:center;color:black" @onclick=@(() => ToggleCash())>Cash Out</button>
                <br />
                <br />
                <div class="flex-c">
                    <div style="font-size:5vw;text-align:center">
                        Total Goals:
                        <span> @Constants.Pretty(Envelopes.Sum(e => e.Goal))</span>
                    </div>
                    <div style="text-align:center;font-size:5vw;">
                        Total Saved:
                        <span> @Constants.Pretty(Envelopes.Sum(e => e.TotalAmount))</span>
                    </div>
                    <hr />
                    <div class="flex-r" style="font-size:4vw;justify-content:space-evenly">
                        <div class="flex-c" style="font-size:4vw;justify-content:space-between">
                            <div style="text-align:center;">@Constants.Person1 Saved:</div>
                            <div style="text-align:center;"> @Constants.Pretty(Envelopes.Sum(e => e.Person1Amount))</div>
                        </div>
                        <div class="flex-c" style="font-size:4vw;justify-content:space-between">
                            <div style="text-align:center;">@Constants.Person2 Saved:</div>
                            <div style="text-align:center;"> @Constants.Pretty(Envelopes.Sum(e => e.Person2Amount))</div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="flex-r" style="flex-wrap:wrap;align-items:center;align-content:center">
                    @foreach (var env in Envelopes)
                    {
                        <Envelope Name="@env.Name" Scale=40 Font_Size=5 Goal=@Math.Max(env.Goal,env.Person1Amount + env.Person2Amount)
                        Saved=@env.TotalAmount FlipClick="true"
                        Person1Account="@(BalanceRepo.GetName(env.Person1Account))"
                        Person2Account="@(BalanceRepo.GetName(env.Person2Account))"
                        Person1Amount="@env.Person1Amount" Person2Amount="@env.Person2Amount" />
                    }
                </div>
                <br style="clear:both" />
                <br style="clear:both" />
            </div>
        </PopTray>

        <AddExpense OnAddConfirm="Add" Added="Added" @bind-Disabled=AddDisabled />

        @if (DataPoints != null && DataPoints.Count > 0)
        {
            <PopTray Id="mobile-spend" ShowWorth=ShowChart ShowTxt="Show Spending" HideTxt="Hide Spending" TopButton=true BottomButton=false>

                <Chart DPs=DataPoints />
                <br />
                <br />
                <MonthlySpending Title="@(Constants.TheMonthsFromInt[DateTime.Now.Month] + " Transactions")"
                TheBalance="@SelectedBalance" />

            </PopTray>

        }

        <br />

        <!-- Savings Goals-->
        <MonthlyGoalTracking ActualDynamicAmount=@ActualDynamic
        ActualStaticAmount=@ActualStatic
        ActualIncomeAmount=@ActualIncome
        EnvelopeAmount=@EnvelopeExpenses />

        <br style="clear:both" />
        <br style="clear:both" />

        <!-- Dynamic Costs -->
        <div style="margin-left:1vw">
            <table>
                <tr>
                    <td colspan="4">
                        <ChartHorizontal DPs=@DynamicCostItems />
                    </td>
                </tr>
            </table>
        </div>

        <br />

        <!-- Set Monthly Expenses Goals-->
        <SetMonthlyTable />

        <br style="clear:both" />
        <br />

        <!-- Ideal Emergency Fund-->
        <IdealEmergencyFund Mobile=true />

        <br style="clear:both" />
        <br />
    }    
    @if (StashCashBool)
    {
        <StashCash OnClose="@CloseModal">

        </StashCash>
    }
    @if (CashOutBool)
    {
        <CashOut OnClose="@CloseModal">

        </CashOut>
    }
}

@code {
    [CascadingParameter]
    public BalanceTray GlobalBT { get; set; }

    [CascadingParameter]
    public MainLayout MainLayout { get; set; }

    private bool Added { get; set; }
    private bool AddDisabled { get; set; }

    private DateTime StartDate => DateTime.Now;
    private DateTime EndDate => new DateTime(StartDate.Year,
                                             StartDate.Month,
                                             DateTime.DaysInMonth(StartDate.Year,
                                             StartDate.Month));
    private int DaysLeft => Math.Ceiling((EndDate - StartDate).TotalDays) > 0 ? (int)Math.Ceiling((EndDate - StartDate).TotalDays + 1) : 1;

    private List<Transaction> Transactions;
    private List<Transaction> FilteredTransactions;
    private List<DynamicCostItem> DynamicCostItems;

    private string SelectedBalance = "";
    private bool ValidChoice = true;
    private string selectedMonth = DateTime.Now.ToString("MMMM");
    private string selectedYear = DateTime.Now.Year.ToString();
    private string SelectedMonth
    {
        get { return selectedMonth; }
        set
        {
            selectedMonth = value;
            ValidChoice = Constants.DR.IsItValidMonthYear(selectedMonth + " " + selectedYear);
            StateHasChanged();
        }

    }
    private string SelectedYear
    {
        get { return selectedYear; }
        set
        {
            selectedYear = value;
            ValidChoice = Constants.DR.IsItValidMonthYear(selectedMonth + " " + selectedYear);
            StateHasChanged();
        }
    }
    private string SelectedDownload => SelectedMonth + " " + SelectedYear;

    private string MonthYear => (DateTime.Now.ToString("MMMM") + " " + DateTime.Now.Year.ToString());

    private string ErrorMsg = string.Empty;

    private bool ShowChart;

    private bool ShowTutorial;

    private List<string> FoundMonths => GetMonths();
    private List<string> FoundYears => GetYears();
    private List<DataPoint> DataPoints = new List<DataPoint>();

    private bool goals;
    private bool Goals { get { return goals; } set { goals = value; GlobalBT.SetGoals(goals); } }

    private bool filtered;

    private bool StashCashBool { get; set; }
    private bool CashOutBool { get; set; }

    private bool hideEnvExp;
    private bool HideEnvExp
    {
        get { return hideEnvExp; }
        set
        {
            hideEnvExp = value;
            SetDataPoints();

        }
    }

    private List<Transaction> MonthlyTransactions => Constants.Transactions.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();
    private double ActualStatic => MonthlyTransactions.Where(ft => ft.ExpenseType == "Static Cost").Sum(ft => ft.TotalAmount);
    private double ActualIncome => MonthlyTransactions.Where(ft => ft.ExpenseType == "Income").Sum(ft => ft.TotalAmount);
    private double ActualDynamic => DynamicCostItems.Sum(dci => dci.Amount) - DynamicCostItems.Sum(dci => dci.Left);

    private double ProjectedExpense => Constants.StaticMonthlyCosts.Sum(ta => ta.TotalAmount) +
                                        DynamicCostItems.Sum(d => d.Amount);
    private double ActualExpense => FilteredTransactions.Where(ft => CostMoney(ft)).Sum(ft => ft.TotalAmount);
    private double EnvelopeExpenses => FilteredTransactions.Where(ft => ft.ExpenseType == "Envelope").Sum(ft => ft.TotalAmount)
                                        + FilteredTransactions.Where(ft => IsAnEnvelope(ft)).Sum(ft => ft.TotalAmount);

    private List<Balance> BalancesP1 => Constants.Balances.Where(b => b.Person == Constants.Person1 | b.Person.ToUpper() == "JOINT").ToList();
    private List<Balance> BalancesP2 => Constants.Balances.Where(b => b.Person == Constants.Person2 | b.Person.ToUpper() == "JOINT").ToList();
    private List<string> ETs => FillEts();

    private bool Disabled;

    private List<string> FillEts()
    {
        List<string> retStr = new List<string>();
        retStr.Add("Income");
        retStr.Add("Static Cost");
        retStr.Add("Envelope");
        retStr.Add("Equity");
        retStr.Add("Debt");
        retStr.Add("Transfer");

        foreach (var dci in Constants.DynamicCostItems)
            if (!retStr.Contains(dci.Name))
                retStr.Add(dci.Name);

        // Purposefully neglect Envelopes
        return retStr;
    }

    private bool IsAnEnvelope(Transaction t)
    {
        if (t.ExpenseType == "Envelope") return true;

        if (!ETs.Contains(t.ExpenseType))
            return true;

        return false;
    }

    private bool CostMoney(Transaction ft)
    {
        List<string> IgnoreThese = new List<string> { "Debt", "Transfer", "Equity", "Income" };

        if (HideEnvExp)
        {
            IgnoreThese.Add("Envelope");
            if (IsAnEnvelope(ft))
                return false;

            foreach (var env in Envelopes)
            {
                IgnoreThese.Add(env.Name);
            }
        }

        if (IgnoreThese.Contains(ft.ExpenseType))
            return false;

        return true;
    }

    private List<Data.Envelope> Envelopes { get; set; }
    private List<LinePlot> Plots => Constants.Plots;

    protected override async Task OnInitializedAsync()
    {
        Constants.CurPage = "Home";
        MainLayout.ToggleOverflow("auto");

        Transactions = Constants.catchAll.Transactions;
        FilteredTransactions = new List<Transaction>(Transactions);

        FilteredTransactions = FilteredTransactions.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();
        ErrorMsg = string.Empty;

        Envelopes = Constants.Envelopes.OrderByDescending(e => e.TotalAmount / e.Goal).ToList();

        DynamicCostItems = new List<DynamicCostItem>(Constants.DynamicCostItems);

        /*
        * string TutorialSeen = await ReadCookies("TutorialSeen");
       if (string.IsNullOrEmpty(TutorialSeen))
           ShowTutorial = true;
           else
           ShowTutorial = false;
            */

        SetDataPoints();

        Constants.TransactionsChanged += TransactionsUpdated;
        Constants.EnvelopesChanged += EnvelopesUpdated;
        Constants.Plots = IndexRunner.GeneratePlots();

        StateHasChanged();
    }

    private string Pretty(double num)
    {
        return Constants.Pretty(num);
    }

    private List<string> GetMonths()
    {
        return IndexRunner.GetMonths();
    }

    private List<string> GetYears()
    {
        return IndexRunner.GetYears();
    }

    private void FilterDate(string filter) { Filter(filter, true); }
    private void FilterBalance(string filter) { Filter(filter, false, true); }
    private void Filter(string filter, bool date = false, bool balance = false)
    {
        if (filtered)
            ResetFilters();

        if (!string.IsNullOrEmpty(filter))
        {
            if (date)
                FilteredTransactions = FilteredTransactions.Where(ft => ft.DateOfTransaction.ToShortDateString() == filter).ToList();
            else if (balance)
                FilteredTransactions = FilteredTransactions.Where(ft => ft.PaidWithPerson1 == filter ||
                                                                        ft.PaidWithPerson2 == filter ||
                                                                        ft.PaidOffPerson1 == filter ||
                                                                        ft.PaidOffPerson2 == filter).ToList();
            else
                FilteredTransactions = FilteredTransactions.Where(ft => ft.ExpenseType == filter).ToList();

            filtered = true;
        }

        StateHasChanged();
    }

    private void Filter(DynamicCostItem filter)
    {
        var catcher = IndexRunner.Filter(ref filter, Transactions, FilteredTransactions, ref filtered);
        Transactions = catcher[0];
        FilteredTransactions = catcher[1];

        StateHasChanged();
    }

    private void ResetFilters(bool BtnPress = false)
    {
        FilteredTransactions = Transactions.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();
        filtered = false;

        if (BtnPress)
        {
            string FilterIndicatorTxt = " (ON)";
            for (int index = 0; index < DynamicCostItems.Count; index++)
            {
                if (DynamicCostItems[index].Name.Contains(FilterIndicatorTxt))
                {
                    DynamicCostItems[index].Name = DynamicCostItems[index].Name.Replace(FilterIndicatorTxt, "");
                }
            }
        }
    }
    private void SetDataPoints(bool UpdateState = false)
    {
        DataPoints = new List<DataPoint>();

        if (FilteredTransactions != null && FilteredTransactions.Count > 0)
        {
            Transaction tr = FilteredTransactions[0];
            DateTime PreviousDate = tr.DateOfTransaction;
            double MonthAmount = 0;

            List<string> NotExpenseOrIncome = new List<string> { "Debt", "Transfer", "Equity" };

            if (HideEnvExp)
            {
                NotExpenseOrIncome.Add("Envelope");

                foreach (var env in Envelopes)
                {
                    NotExpenseOrIncome.Add(env.Name);
                }
            }

            string[] IncomeOrEquity = new string[] { "Income", "Equity" };

            if (IncomeOrEquity.Contains(tr.ExpenseType))
                MonthAmount = tr.TotalAmount;
            else if (!NotExpenseOrIncome.Contains(tr.ExpenseType))
                MonthAmount = HideEnvExp & IsAnEnvelope(tr) ? 0 : tr.TotalAmount * -1;

            bool lastSwitch = false; // true if there is only 1 transaction for this date, and it's the last one
            DataPoint newDP = new DataPoint(PreviousDate.Day.ToString(), MonthAmount);
            newDP.Negative = newDP.Value < 0;
            newDP.Value = Math.Abs(newDP.Value);

            if (newDP.Value != 0 && FilteredTransactions.Count == 1)
                DataPoints.Add(newDP);

            for (int index = 1; index < FilteredTransactions.Count; index++)
            {
                if (FilteredTransactions[index].DateOfTransaction.ToShortDateString() != PreviousDate.ToShortDateString())
                {
                    newDP = new DataPoint(PreviousDate.Day.ToString(), MonthAmount);
                    newDP.Negative = newDP.Value < 0;
                    newDP.Value = Math.Abs(newDP.Value);

                    if (newDP.Value != 0)
                        DataPoints.Add(newDP);

                    lastSwitch = true;
                    PreviousDate = FilteredTransactions[index].DateOfTransaction;
                    if (IncomeOrEquity.Contains(FilteredTransactions[index].ExpenseType))
                        MonthAmount = FilteredTransactions[index].TotalAmount;
                    else if (!NotExpenseOrIncome.Contains(FilteredTransactions[index].ExpenseType))
                        MonthAmount = HideEnvExp & IsAnEnvelope(FilteredTransactions[index]) ? 0 : FilteredTransactions[index].TotalAmount * -1;
                    else
                        MonthAmount = 0;
                }
                else
                {
                    if (IncomeOrEquity.Contains(FilteredTransactions[index].ExpenseType))
                        MonthAmount += FilteredTransactions[index].TotalAmount;
                    else if (!NotExpenseOrIncome.Contains(FilteredTransactions[index].ExpenseType))
                        MonthAmount -= HideEnvExp & IsAnEnvelope(FilteredTransactions[index]) ? 0 : FilteredTransactions[index].TotalAmount;

                    lastSwitch = false;

                    if (index == FilteredTransactions.Count - 1)
                    {
                        newDP = new DataPoint(PreviousDate.Day.ToString(), MonthAmount);
                        newDP.Negative = newDP.Value < 0;
                        newDP.Value = Math.Abs(newDP.Value);

                        if (newDP.Value != 0)
                            DataPoints.Add(newDP);
                    }
                }

            }
            if (lastSwitch)
            {
                int last = FilteredTransactions.Count - 1;
                newDP = new DataPoint(PreviousDate.Day.ToString(), MonthAmount);
                newDP.Negative = newDP.Value < 0;
                newDP.Value = Math.Abs(newDP.Value);

                if (newDP.Value != 0)
                    DataPoints.Add(newDP);
            }
            DataPoints.Reverse();
        }

        if (UpdateState)
            StateHasChanged();
    }
    private async void AddConfirm()
    {
        SetDataPoints();
        // GlobalBT.RefreshBalances();

        Added = true;
        AddDisabled = false;
        await Task.Delay(2000);
        Added = false;
        StateHasChanged();
    }
    private async void CloseModal(bool accepted)
    {
        StashCashBool = false;
        CashOutBool = false;

        if (accepted)
        {
            Transactions = Constants.Transactions;
            FilteredTransactions = Transactions.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();
        }

        MainLayout.ToggleOverflow("auto");
    }
    private async void CloseTutModal(bool DontShowAgain)
    {
        if (DontShowAgain)
            await WriteCookieAsync("TutorialSeen", "YES", 1000);

        ShowTutorial = false;
        MainLayout.ToggleOverflow("auto");
    }
    protected async Task<string> ReadCookies(string CookieName)
    {
        string response;
        try
        {
            response = await JSRuntime.InvokeAsync<string>("ReadCookie", CookieName);
        }
        catch (Exception e)
        {
            response = null;
        }

        return response;
    }

    public async Task WriteCookieAsync(string name, string value, double days)
    {
        var test = await JSRuntime.InvokeAsync<object>("WriteCookie", name, value, days);
    }
    private void ToggleChartBtn()
    {
        if (!ShowChart)
        {
            ResetFilters();
            FilteredTransactions = new List<Transaction>(Constants.catchAll.Transactions);
            FilteredTransactions = FilteredTransactions.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();
            SelectedBalance = "";
        }
        ShowChart = !ShowChart;
        StateHasChanged();
    }
    private async void ToggleStash()
    {
        StashCashBool = !StashCashBool;
        if (StashCashBool)
            MainLayout.ToggleOverflow("hidden");
        else
            MainLayout.ToggleOverflow("auto");
    }
    private async void ToggleCash()
    {
        CashOutBool = !CashOutBool;
        if (CashOutBool)
            MainLayout.ToggleOverflow("hidden");
        else
            MainLayout.ToggleOverflow("auto");
    }
    async Task DownloadCSV()
    {
        if (string.IsNullOrEmpty(SelectedDownload))
            return;

        string fileString = CSVBuilder.Build(await TransactionRepo.GetTransactionsAsync("ALL"), SelectedDownload);

        byte[] file = System.Text.Encoding.UTF8.GetBytes(fileString);
        string FileSaveName = SelectedDownload == "All" ? "All_Transactions.csv" : SelectedDownload.Replace(" ", "_") + "_Transactions.csv";
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", FileSaveName, "text/csv", file);
    }
    private async void Add(NewTransaction addIt)
    {
        if (addIt == null)
            return;

        var nt = IndexRunner.Add(addIt);

        if (nt != null)
        {
            // TransactionRepo sets everything in Constants
            Transactions = await TransactionRepo.AddOrUpdateAsync(nt);
            FilteredTransactions = Transactions.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();

            Envelopes = Constants.Envelopes.OrderByDescending(e => e.TotalAmount / e.Goal).ToList(); ;

            AddConfirm();
        }

        Disabled = false;
        StateHasChanged();
    }

    private void TransactionsUpdated(object sender, List<Transaction> e)
    {
        Transactions = new List<Transaction>(e);

        FilteredTransactions = e.Where(t => t.MonthYear() == Constants.MonthYear()).OrderByDescending(t => t.DateOfTransaction).ToList();

        SetDataPoints();
        Constants.Plots = IndexRunner.GeneratePlots();
        StateHasChanged();
    }

    private void EnvelopesUpdated(object sender, List<Data.Envelope> e)
    {
        Envelopes = e.OrderByDescending(ev => ev.TotalAmount / ev.Goal).ToList();
        Envelopes = new List<Data.Envelope>(Envelopes);

        StateHasChanged();
    }

    public void Dispose()
    {
        Constants.TransactionsChanged -= TransactionsUpdated;
        Constants.EnvelopesChanged -= EnvelopesUpdated;
    }
}