@page "/input"
@using BetterBudgetWeb.Data;
@using BetterBudgetWeb.Shared.InputActions
@inject IJSRuntime JSRuntime

<PageTitle>Input</PageTitle>

@if (!Constants.Mobile)
{
    <h1 style="font-family:'CBB Default'">Input</h1>
}
@if (!Constants.Mobile)
{
    <div class="tab flex-r" style="width:100%;flex-wrap:wrap">
        @if (NoBalances)
        {
            <button class="tablinks @BalClass" @onclick="@ShowAccount">Account</button>
        }
        else
        {
            <button class="tablinks tab-btn @TransClass" @onclick="@ShowTransaction">Transaction</button>
            <button class="tablinks tab-btn @BalClass" @onclick="@ShowAccount">Account</button>
            <button class="tablinks tab-btn @MonthClass" @onclick="@ShowStaticCost">Recurring Charge</button>
            <button class="tablinks tab-btn @EnvClass" @onclick="@ShowEnvelope">Goal Envelope</button>
        }
    </div>
}
else
{
    <div class="tab flex-r" style="width:fit-content;max-width:100%;flex-wrap:wrap">
        @if (NoBalances)
        {
            <button class="tablinks" @onclick="@ShowAccount">Account</button>
        }
        else
        {
            <button class="tablinks tab-btn @TransClass" @onclick="@ShowTransaction">Transaction</button>
            <button class="tablinks tab-btn @BalClass" @onclick="@ShowAccount">Account</button>
            <button class="tablinks tab-btn @MonthClass" @onclick="@ShowStaticCost">Recurring Charge</button>
            <button class="tablinks tab-btn @EnvClass" @onclick="@ShowEnvelope">Goal Envelope</button>
        }
    </div>
}
@if (ShowTrans)
{
    <InputTransaction TransactionName="@TransactionName"
    ExpenseType="@ExpenseType"
    PaidOffPerson1="@PaidOffPerson1"
    PaidOffPerson2="@PaidOffPerson2"
    PaidWithPerson1="@PaidWithPerson1"
    PaidWithPerson2="@PaidWithPerson2"
    Person1Amount="@Person1Amount"
    Person2Amount="@Person2Amount"
    Hex="@HexColor"
    TextColor="@TextColor"
    Preset="Preset">
    </InputTransaction>
}
else if (ShowBal)
{
    <InputBalance />
}
else if (ShowEnv)
{
    <InputEnvelope />
}
else if (ShowStatic)
{
    <InputMonthlyCost />

}

<!-- <button class="btn btn-primary" @onclick="@ShowEnvurity">Input Security</button> -->
@code {
    private string TransactionName;
    private string ExpenseType;
    private string PaidOffPerson1;
    private string PaidOffPerson2;
    private string PaidWithPerson1;
    private string PaidWithPerson2;
    private string Person1Amount;
    private string Person2Amount;
    private string HexColor = "#28A745";
    private string TextColor = "white";

    private string BalName;
    private string BalanceType;
    private string APR;
    private string InitAmount;
    private string color = "#32A852";
    private string Color
    {
        get { return color; }
        set
        {
            if (string.IsNullOrEmpty(value))
                value = "#32A852";
            else if (value[0] != '#')
                value = "#" + value;

            if (value.Length > 7)
                value.Substring(0, 7);

            color = value;
        }
    }

    private bool ShowTrans { get; set; } = true;
    private bool ShowBal { get; set; }
    private bool ShowStatic { get; set; }
    private bool ShowEnv { get; set; }

    private string TransClass => ShowTrans ? "active" : "";
    private string BalClass => ShowBal ? "active" : "";
    private string MonthClass => ShowStatic ? "active" : "";
    private string EnvClass => ShowEnv ? "active" : "";

    private bool NoBalances { get; set; } = Constants.Balances == null || Constants.Balances.Count == 0;

    protected override async Task OnInitializedAsync()
    {
        Constants.CurPage = "Input";
        if (NoBalances)
            ShowBal = true;

        ShowTrans = !NoBalances;
        StateHasChanged();
    }

    private void ShowTransaction()
    {
        ShowTrans = !ShowTrans;
        ShowBal = false;
        ShowEnv = false;
        ShowStatic = false;
    }
    private void ShowAccount()
    {
        ShowBal = !ShowBal;
        ShowEnv = false;
        ShowTrans = false;
        ShowStatic = false;
    }
    private void ShowStaticCost()
    {
        ShowStatic = !ShowStatic;
        ShowEnv = false;
        ShowTrans = false;
        ShowBal = false;
    }
    private void ShowEnvelope()
    {
        ShowEnv = !ShowEnv;
        ShowTrans = false;
        ShowBal = false;
        ShowStatic = false;
    }

    private void Refresh(bool accepted)
    {
        if (accepted)
        {
            NoBalances = Constants.Balances == null || Constants.Balances.Count == 0;
            StateHasChanged();
        }
    }

    private async void Preset(Preset pre)
    {
        // 0 - Trans Name
        // 1 - ExpenseType
        // 2 - Paid With Person1
        // 3 - Paid With Person2
        // 4 - Person1Amount
        // 5 - Person2Amount
        // 6 - Paid Off Person1
        // 7 - Paid Off Person2
        // 8 - Text Color
        // 9 - Background Color

        string[] vals = Constants.HandlePresets(pre.Name);

        if (vals.All(v => string.IsNullOrEmpty(v)))
        {
            TransactionName = pre.Name;
            ExpenseType = "Static Cost";
            Person1Amount = pre.Person1Amount.ToString();
            Person2Amount = pre.Person2Amount.ToString();
        }
        else {
            TransactionName = vals[0];
            ExpenseType = vals[1];
            PaidWithPerson1 = vals[2];
            PaidWithPerson2 = vals[3];
            Person1Amount = vals[4];
            Person2Amount = vals[5];
            PaidOffPerson1 = vals[6];
            PaidOffPerson2 = vals[7];
            TextColor = vals[8];
            HexColor = vals[9];
        }
        await JSRuntime.InvokeAsync<string>("ScrollTo", "tran-name");
        StateHasChanged();
    }
}
