@page "/simulations"
@using BetterBudgetWeb.Data
@using BetterBudgetWeb.MainMenuItems
@using BetterBudgetWeb.MainMenuItems.Chart
@using BetterBudgetWeb.Repo
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.Simulation
@inject IJSRuntime JSRuntime

<style>
    option {
        color: black;
    }

    select {
        color: black;
    }

    input {
        color: black;
    }

    button {
        color: black;
    }
</style>

<PageTitle>Simulations</PageTitle>
<div style="display:flex;justify-content:space-around">
    @if (!(DateTime.Now.Month == Month && DateTime.Now.Year == Year))
    {
        <button style="align-self:last baseline" @onclick=Prev>&lt;&lt;</button>
    }
    else
    {
        <br />
    }
    <h1 style="text-align:center">Month of: <i>@MonthYear</i></h1>
    <button style="align-self:last baseline" @onclick=Next>&gt;&gt;</button>
</div>

<div style="display:flex;justify-content:space-around">
    <div style='display:@(mobile ? "inline-block" : "flex");justify-content:space-around'>
        <br />
        <br />
        <label style="float:left;margin-right:1vw;">@(Constants.Person1 + ":")</label>
        <div style="display:table">
            <input style="align-self:flex-end;display:table-cell" type="text" placeholder=@(Constants.Person1 + " Expected Income") @onkeydown="@Enter" @bind=ExpectedIncome1Str @oninput="@(async (ui) => { ExpectedIncome1Str = (string) ui.Value;})">
            <br />
            <br />
            <select class="custom-select" style="margin-right:1vw;" @bind="PaidIntoPerson1" title="Where You Get Paid ">
                <option value="@string.Empty" selected disabled="disabled">(Choose Where You Get Paid)</option>
                @if (Balances != null)
                {
                    @foreach (var pay in Balances.Where(b => b.Person == Constants.Person1 && !b.BalanceType.Contains("Loan")))
                    {
                        <option value="@pay.Name">@pay.Name</option>
                    }
                }
            </select>
        </div>
        <br />
        <br />
        <label style="float:left;margin-right:1vw;">@(Constants.Person2 + ":")</label>
        <div style="display:table">
            <input style="align-self:flex-end;display:table-cell" type="text" placeholder=@(Constants.Person2 + " Expected Income") @onkeydown="@Enter" @bind=ExpectedIncome2Str @oninput="@(async (ui) => { ExpectedIncome2Str = (string) ui.Value;})">
            <br />
            <br />
            <select class="custom-select" style="margin-right:1vw;" @bind="PaidIntoPerson2" title="Where You Get Paid ">
                <option value="@string.Empty" selected disabled="disabled">(Choose Where You Get Paid)</option>
                @if (Balances != null)
                {
                    @foreach (var pay in Balances.Where(b => b.Person == Constants.Person2 && !b.BalanceType.Contains("Loan")))
                    {
                        <option value="@pay.Name">@pay.Name</option>
                    }
                }
            </select>
        </div>
        <br />
        <br />
        <div style="display:flex;justify-content:center">
            <button class="btn btn-primary" style="margin: auto" @onclick=GoGo>Enter</button>
        </div>
    </div>
</div>

<h1 style="text-align:center;color:@GoodOrBad(Person1NetWorth + Person2NetWorth)">TOTAL NET WORTH: @(Pretty(Person1NetWorth + Person2NetWorth))</h1>
<div>
    <h2 style="float:left;text-align:center">
        <span>@($"{Constants.Person1}'s Net Worth:")</span> <span style="color:@GoodOrBad(Person1NetWorth)">@(Pretty(Person1NetWorth))</span>
    </h2>

    <h2 style="float:right;text-align:center">
        <span>@($"{Constants.Person2}'s Net Worth:")</span> <span style="color:@GoodOrBad(Person2NetWorth)">@(Pretty(Person2NetWorth))</span>
    </h2>
</div>
<br />
<br />
@if (!mobile)
{
    <div style="display:flex;justify-content:center;flex-wrap:wrap;width:95vw;">
        @if (Balances != null)
        {
            @foreach (var balance in Balances.OrderByDescending(b => b.Value))
            {
                <BalanceBlock TheBalance="@balance"
                  OnClick="@(() => FilterBalance(balance.Name))" />
            }

        }
    </div>
    <br style="clear:both;" />

    <div style="display:flex;justify-content:start;">
        <!-- Monthly Spending -->
    <div style="width:50%;float:left; margin-right:1vw; margin-bottom:2vh;">
            <SimulatedMonthlySpending Mobile=mobile Month=Month Year=Year
                                  @bind-Transactions=Transactions
                                  @bind-FilteredTransactions=FilteredTransactions
                                  @bind-Balances=Balances />
        </div>
        <div style="display:inline-block;margin-right:1vw;">

            <!-- Dynamic Costs -->
        <div style="width:100%; margin-right:1vw;">
                <table>
                    <tr>
                        <th colspan="4" style="background-color:magenta;color:white;"><i>Dynamic Monthly Costs</i></th>
                    </tr>
                    <tr>
                        <th>Expense</th>
                        <th>Total Budget Amount</th>
                        <th>Left This Month</th>
                        <th style="padding:0 5px">Spend/Day</th>
                    </tr>
                    @foreach (var dci in SimulatedConstants.DynamicCostItems)
                    {
                        @if (dci.Name.Contains("EXAMPLE DATA"))
                        {
                            <tr>
                                <td style="padding:.5vw 1vw;cursor:pointer;" @onclick='() => Filter(dci)'><i>@dci.Name</i></td>
                                <td>@Pretty(dci.Amount)</td>
                                <td>@Pretty(dci.Amount)</td>
                                <td>@Pretty(dci.Amount/DaysLeft)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="padding:.5vw 1vw;cursor:pointer;" @onclick='() => Filter(dci)'>@dci.Name</td>
                                <td>@Pretty(dci.Amount)</td>
                                <td>@Pretty(dci.Amount)</td>
                                <td>@Pretty(dci.Amount/DaysLeft)</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="4">=</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td>@Pretty(SimulatedConstants.DynamicCostItems.Sum(d => d.Amount))</td>
                        <td>@Pretty(SimulatedConstants.DynamicCostItems.Sum(d => d.Amount))</td>
                        <td>@Pretty(SimulatedConstants.DynamicCostItems.Sum(d => d.Amount)/DaysLeft)</td>
                    </tr>
                </table>
            </div>
            <!-- Savings Goals-->
        <SimulatedSavingsGoalsTable Month=Month Year=Year />

            <!-- Ideal Emergency Fund-->
        <IdealEmergencyFund OneMonthPerson1="@(SimulatedConstants.DynamicCostItems.Sum(d => d.Person1Amount) + SimulatedConstants.StaticMonthlyCosts.Sum(smc => smc.Person1Amount))"
                            OneMonthPerson2="@(SimulatedConstants.DynamicCostItems.Sum(d => d.Person2Amount) + SimulatedConstants.StaticMonthlyCosts.Sum(smc => smc.Person2Amount))" />
        </div>
        <!-- Set Monthly Costs Goals-->
    <div style="display:inline-block">
            <SimulatedSetMonthlyTable Trans=Transactions Month=Month Year=Year />
            <br style="clear:both" />

        </div>
    </div>

    @if (ShowDeleteBal)
    {
        <DeleteConfirm Balan="@SelectedBalance">

        </DeleteConfirm>
    }
}
else
{
    <div style="display:flex;justify-content:center;flex-wrap:wrap;width:95vw;">
        @if (Balances != null)
        {
            @foreach (var balance in Balances.OrderByDescending(b => b.Value))
            {
                <BalanceBlock TheBalance="@balance" FontSize="5" />
            }

        }
    </div>
    <br />
    <!-- Monthly Spending -->
    <div style="width:100%;float:left;margin-bottom:2vh;">
        <SimulatedMonthlySpending Mobile=mobile Month=Month Year=Year
                              @bind-Transactions=Transactions
                              @bind-FilteredTransactions=FilteredTransactions
                              @bind-Balances=Balances />
    </div>

    <br />

    <!-- Dynamic Costs -->
    <div style="width:100%;">
        <table>
            <tr>
                <th colspan="4" style="background-color:magenta;font-size:3vw;"><i>Dynamic Monthly Costs</i></th>
            </tr>
            <tr>
                <th style="font-size:3vw;">Expense</th>
                <th style="font-size:3vw;">Total Budget Amount</th>
                <th style="font-size:3vw;">Left This Month</th>
                <th style="font-size:3vw;padding:0 5px">Spend/Day</th>
            </tr>
            @foreach (var dci in SimulatedConstants.DynamicCostItems)
            {
                @if (dci.Name.Contains("EXAMPLE DATA"))
                {
                    <tr>
                        <td style="font-size:3vw;padding:.5vw 1vw;"><i>@dci.Name</i></td>
                        <td style="font-size:3vw;">@Pretty(dci.Amount)</td>
                        <td style="font-size:3vw;">@Pretty(dci.Left)</td>
                        <td style="font-size:3vw;">@Pretty(dci.Left/DaysLeft)</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="font-size:3vw;padding:.5vw 1vw;">@dci.Name</td>
                        <td style="font-size:3vw;">@Pretty(dci.Amount)</td>
                        <td style="font-size:3vw;">@Pretty(dci.Left)</td>
                        <td style="font-size:3vw;">@Pretty(dci.Left/DaysLeft)</td>
                    </tr>
                }
            }
            <tr>
                <td style="font-size:3vw;" colspan="4">=</td>
            </tr>
            <tr>
                <td style="font-size:3vw;"><strong>Total</strong></td>
                <td style="font-size:3vw;">@Pretty(SimulatedConstants.DynamicCostItems.Sum(d => d.Amount))</td>
                <td style="font-size:3vw;">@Pretty(SimulatedConstants.DynamicCostItems.Sum(d => d.Left))</td>
                <td style="font-size:3vw;">@Pretty(SimulatedConstants.DynamicCostItems.Sum(d => d.Left)/DaysLeft)</td>
            </tr>
        </table>
    </div>

    <br />

    <!-- Savings Goals-->
    <SavingsGoalsTable Mobile=true />

    <br />

    <!-- Ideal Emergency Fund-->
    <IdealEmergencyFund Mobile=true OneMonthPerson1="@(SimulatedConstants.DynamicCostItems.Sum(d => d.Person1Amount) + SimulatedConstants.StaticMonthlyCosts.Sum(smc => smc.Person1Amount))"
                    OneMonthPerson2="@(SimulatedConstants.DynamicCostItems.Sum(d => d.Person2Amount) + SimulatedConstants.StaticMonthlyCosts.Sum(smc => smc.Person2Amount))" />

    <br />

    <!-- Set Monthly Costs Goals-->
    <SetMonthlyTable Trans=FilteredTransactions Mobile=true />

    <br />
    <br />
}

@code {
    private string PaidIntoPerson1 { get; set; }
    private string PaidIntoPerson2 { get; set; }

    private string[] Months = new string[] { "All", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };

    private DateTime StartDate => DateTime.Now;
    private DateTime EndDate => new DateTime(StartDate.Year,
                                             StartDate.Month,
                                             DateTime.DaysInMonth(StartDate.Year,
                                             StartDate.Month));
    private int DaysLeft => DateTime.DaysInMonth(Year, Month);

    private Dictionary<(int, int), double> PreviousDiscover { get; set; } = new Dictionary<(int, int), double>();
    private Dictionary<(int, int), double> PreviousAmex { get; set; } = new Dictionary<(int, int), double>();
    private Dictionary<(int, int), double> PreviousUSAA { get; set; } = new Dictionary<(int, int), double>();

    private Dictionary<(int, int), double> PrevIncome1 { get; set; } = new Dictionary<(int, int), double>();
    private Dictionary<(int, int), double> PrevIncome2 { get; set; } = new Dictionary<(int, int), double>();

    private List<Transaction> Transactions;
    private List<Transaction> FilteredTransactions;
    private List<Balance> Balances;
    private List<Security> Securities;
    private List<Monthly> Monthlies;
    private double Person1NetWorth => CalculateNetWorth(Constants.Person1);
    private double Person2NetWorth => CalculateNetWorth(Constants.Person2);

    private Balance SelectedBalance;
    private string SelectedDownload { get; set; } = (DateTime.Now.ToString("MMMM") + " " + DateTime.Now.Year.ToString());

    private bool ShowDeleteBal = false;

    private int Month { get; set; } = DateTime.Now.Month;
    private int Year { get; set; } = DateTime.Now.Year;

    private string ExpectedIncome1Str { get; set; }
    private string ExpectedIncome2Str { get; set; }
    private double PrevExpected1Income;
    private double PrevExpected2Income;
    private double Expected1Income;
    private double Expected2Income;

    private string MonthYear => (new DateTime(Year, Month, 1).ToString("MMMM") + " " + Year.ToString());

    private string ErrorMsg = string.Empty;
    private bool mobile;

    private bool ShowChart;
    private List<DataPoint> DataPoints = new List<DataPoint>();

    private bool filtered;
    private string AddConfirmClass = "collapse";

    protected override async Task OnInitializedAsync()
    {
        mobile = await JSRuntime.InvokeAsync<bool>("isDevice");
        Balances = await BalanceRepo.GetBalancesAsync();
        Transactions = await TransactionRepo.GetTransactionsAsync();
        FilteredTransactions = new List<Transaction>(Transactions);
        FilteredTransactions = FilteredTransactions.Where(t => t.MonthYear() == SimulatedConstants.MonthYear(Month, Year)).OrderByDescending(t => t.DateOfTransaction).ToList();
        SimulatedConstants.SetMonthlies(Month, Year);
        ErrorMsg = string.Empty;

        PaidIntoPerson1 = Balances.Where(b => b.Person == Constants.Person1 && !b.BalanceType.Contains("Loan")).ToList()[0].Name;
        PaidIntoPerson2 = Balances.Where(b => b.Person == Constants.Person2 && !b.BalanceType.Contains("Loan")).ToList()[0].Name;

        SubtractUnspent();

        StateHasChanged();
    }

    private void Prev()
    {
        if (Month == 1)
        {
            Month = 12;
            Year--;
        }
        else
            Month--;

        FilteredTransactions = new List<Transaction>(Transactions);
        FilteredTransactions = FilteredTransactions.Where(t => t.MonthYear() == SimulatedConstants.MonthYear(Month, Year)).OrderByDescending(t => t.DateOfTransaction).ToList();

        UpdateBalancesPrev();

        SimulatedConstants.SetMonthlies(Month, Year);

        StateHasChanged();
    }
    private void Next()
    {
        if (Month == 12)
        {
            Month = 1;
            Year++;
        }
        else
            Month++;

        FilteredTransactions = new List<Transaction>(Transactions);
        FilteredTransactions = FilteredTransactions.Where(t => t.MonthYear() == SimulatedConstants.MonthYear(Month, Year)).OrderByDescending(t => t.DateOfTransaction).ToList();

        SimulatedConstants.SetMonthlies(Month, Year);

        UpdateBalancesNext();

        StateHasChanged();
    }

    private void UpdateBalancesPrev()
    {
        if (PrevIncome1.ContainsKey((Month, Year)) && PrevIncome1[(Month, Year)] != 0)
        {
            ExpectedIncome1Str = PrevIncome1[(Month, Year)].ToString();
            Expected1Income = PrevIncome1[(Month, Year)];
        }
        else
        {
            ExpectedIncome1Str = "";
            Expected1Income = 0;
        }

        if (PrevIncome2.ContainsKey((Month, Year)) && PrevIncome2[(Month, Year)] != 0)
        {
            ExpectedIncome2Str = PrevIncome2[(Month, Year)].ToString();
            Expected2Income = PrevIncome2[(Month, Year)];
        }
        else
        {
            ExpectedIncome2Str = "";
            Expected2Income = 0;
        }

        int ForMonth;
        int ForYear;
        if (Month == 12)
        {
            ForMonth = 1;
            ForYear = Year + 1;
        }
        else
        {
            ForMonth = Month + 1;
            ForYear = Year;
        }

        var Person1Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson1);
        var Person2Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson2);

        var HotelPromised = Balances.FirstOrDefault(bal => bal.Name == "Hotel (Promised)");
        var USAA = Balances.FirstOrDefault(bal => bal.Name == "USAA");
        var Discover = Balances.FirstOrDefault(bal => bal.Name == "Discover");
        var Amex = Balances.FirstOrDefault(bal => bal.Name == "Amex");

        var DesiredMonthlies = SimulatedConstants.GetNeededMonthlies(ForMonth, ForYear);

        SimulatedConstants.Month = Month;
        SimulatedConstants.Month = Year;

        foreach (var mon in DesiredMonthlies)
        {
            if (mon.Dynamic == "DYNAMIC")
            {
                Amex.Value -= mon.Person1Amount;
                USAA.Value -= mon.Person2Amount;
            }
            else if (mon.Dynamic == "STATIC")
            {
                switch (mon.Name)
                {
                    case "Rent":
                    case "Rent 2":
                    case "Electric":
                        Person1Income.Value += mon.Person1Amount;
                        Person2Income.Value += mon.Person2Amount;
                        break;

                    case "Phone":
                    case "Spotify":
                        Discover.Value -= mon.Person1Amount;
                        Person2Income.Value += mon.Person2Amount;
                        break;

                    case "Subs":
                    case "Car Insurance":
                    case "Progressive":
                        Discover.Value -= mon.Person1Amount;
                        USAA.Value -= mon.Person2Amount;
                        break;

                    default:
                        Amex.Value -= mon.Person1Amount;
                        USAA.Value -= mon.Person2Amount;
                        break;
                }
            }
            else
                continue;
        }

        int LastMonthDayTotal = DateTime.DaysInMonth(Year, Month);

        if (PreviousAmex.ContainsKey((Month, Year)))
        {
            Person1Income.Value += PreviousDiscover[(Month, Year)] + PreviousAmex[(Month, Year)];
            Amex.Value = PreviousAmex[(Month, Year)];
            Discover.Value = PreviousDiscover[(Month, Year)];

            Person2Income.Value += PreviousUSAA[(Month, Year)];
            USAA.Value = PreviousUSAA[(Month, Year)];
        }

        Person1Income.Value -= PrevIncome1.ContainsKey((ForMonth, ForYear)) ? PrevIncome1[(ForMonth, ForYear)] : 0;
        Person2Income.Value -= PrevIncome2.ContainsKey((ForMonth, ForYear)) ? PrevIncome2[(ForMonth, ForYear)] : 0;
    }

    private void UpdateBalancesNext()
    {
        if (PrevIncome1.ContainsKey((Month, Year)) && PrevIncome1[(Month, Year)] != 0)
        {
            ExpectedIncome1Str = PrevIncome1[(Month, Year)].ToString();
            Expected1Income = PrevIncome1[(Month, Year)];
        }
        else
        {
            ExpectedIncome1Str = "";
            Expected1Income = 0;
        }

        if (PrevIncome2.ContainsKey((Month, Year)) && PrevIncome2[(Month, Year)] != 0)
        {
            ExpectedIncome2Str = PrevIncome2[(Month, Year)].ToString();
            Expected2Income = PrevIncome2[(Month, Year)];
        }
        else
        {
            ExpectedIncome2Str = "";
            Expected2Income = 0;
        }

        var Person1Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson1);
        var Person2Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson2);

        var HotelPromised = Balances.FirstOrDefault(bal => bal.Name == "Hotel (Promised)");
        var USAA = Balances.FirstOrDefault(bal => bal.Name == "USAA");
        var Discover = Balances.FirstOrDefault(bal => bal.Name == "Discover");
        var Amex = Balances.FirstOrDefault(bal => bal.Name == "Amex");

        (int, int) prevMonth = Month == 1 ? new(12, Year - 1) : new(Month - 1, Year);

        PreviousDiscover[prevMonth] = Discover.Value + 0;
        PreviousAmex[prevMonth] = Amex.Value + 0;
        PreviousUSAA[prevMonth] = USAA.Value + 0;

        Person1Income.Value -= Discover.Value + Amex.Value;
        Amex.Value = 0;
        Discover.Value = 0;

        Person2Income.Value -= USAA.Value;
        USAA.Value = 0;

        var DesiredMonthlies = SimulatedConstants.GetNeededMonthlies(Month, Year);

        foreach (var mon in DesiredMonthlies)
        {
            if (mon.Dynamic == "DYNAMIC")
            {
                Amex.Value += mon.Person1Amount;
                USAA.Value += mon.Person2Amount;
            }
            else if (mon.Dynamic == "STATIC")
            {
                switch (mon.Name)
                {
                    case "Rent":
                    case "Rent 2":
                    case "Electric":
                        Person1Income.Value -= mon.Person1Amount;
                        Person2Income.Value -= mon.Person2Amount;
                        break;

                    case "Phone":
                    case "Spotify":
                        Discover.Value += mon.Person1Amount;
                        Person2Income.Value -= mon.Person2Amount;
                        break;

                    case "Subs":
                    case "Car Insurance":
                    case "Progressive":
                        Discover.Value += mon.Person1Amount;
                        USAA.Value += mon.Person2Amount;
                        break;

                    default:
                        Amex.Value += mon.Person1Amount;
                        USAA.Value += mon.Person2Amount;
                        break;
                }
            }
            else
                continue;
        }

        Person1Income.Value += PrevIncome1.ContainsKey((Month, Year)) ? PrevIncome1[(Month, Year)] : 0;
        Person2Income.Value += PrevIncome2.ContainsKey((Month, Year)) ? PrevIncome2[(Month, Year)] : 0;
    }

    private void UpdateIncomeBalances(bool prev = false)
    {
        bool tp1 = double.TryParse(ExpectedIncome1Str, out Expected1Income);
        bool tp2 = double.TryParse(ExpectedIncome2Str, out Expected2Income);

        var Person1Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson1);
        var Person2Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson2);

        if (tp1)
        {
            if (PrevIncome1.ContainsKey((Month, Year)))
                Person1Income.Value -= PrevIncome1[(Month, Year)];

            Person1Income.Value += Expected1Income;
            PrevIncome1[(Month, Year)] = Expected1Income;
        }

        if (tp2)
        {
            if (PrevIncome2.ContainsKey((Month, Year)))
                Person2Income.Value -= PrevIncome2[(Month, Year)];

            Person2Income.Value += Expected2Income;
            PrevIncome2[(Month, Year)] = Expected2Income;
        }
    }

    private string GoodOrBad(double money)
    {
        return money <= 0 ? "red" : "forestgreen";
    }
    private string Pretty(double num)
    {
        return Constants.Pretty(num);
    }
    private double CalculateNetWorth(string person)
    {
        return IndexRunner.CalculateNetWorth(person, Balances);
    }

    private async void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            GoGo();
        }

    }

    private void GoGo()
    {
        UpdateIncomeBalances();
    }

    private void FilterDate(string filter) { Filter(filter, true); }
    private void FilterBalance(string filter) { Filter(filter, false, true); }
    private void Filter(string filter, bool date = false, bool balance = false)
    {
        if (filtered)
            ResetFilters(true);
        else
        {
            if (date)
                FilteredTransactions = FilteredTransactions.Where(ft => ft.DateOfTransaction.ToShortDateString() == filter).ToList();
            else if (balance)
                FilteredTransactions = FilteredTransactions.Where(ft => ft.PaidWithPerson1 == filter ||
                                                                        ft.PaidWithPerson2 == filter ||
                                                                        ft.PaidOffPerson1 == filter ||
                                                                        ft.PaidOffPerson2 == filter).ToList();
            else
                FilteredTransactions = FilteredTransactions.Where(ft => ft.ExpenseType == filter).ToList();

            filtered = true;
        }
        StateHasChanged();
    }

    private void Filter(DynamicCostItem filter)
    {
        var catcher = IndexRunner.Filter(ref filter, Transactions, FilteredTransactions, ref filtered);
        Transactions = catcher[0];
        FilteredTransactions = catcher[1];

        StateHasChanged();
    }

    private void ResetFilters(bool BtnPress = false)
    {
        FilteredTransactions = Transactions.Where(t => t.MonthYear() == SimulatedConstants.MonthYear(Month, Year)).OrderByDescending(t => t.DateOfTransaction).ToList();
        filtered = false;

        if (BtnPress)
        {
            string FilterIndicatorTxt = " (ON)";
            for (int index = 0; index < SimulatedConstants.DynamicCostItems.Count; index++)
            {
                if (SimulatedConstants.DynamicCostItems[index].Name.Contains(FilterIndicatorTxt))
                {
                    SimulatedConstants.DynamicCostItems[index].Name = SimulatedConstants.DynamicCostItems[index].Name.Replace(FilterIndicatorTxt, "");
                }
            }
            StateHasChanged();
        }
    }
    async Task DownloadCSV()
    {
        if (string.IsNullOrEmpty(SelectedDownload))
            return;

        string fileString = CSVBuilder.Build(Transactions, SelectedDownload);

        byte[] file = System.Text.Encoding.UTF8.GetBytes(fileString);
        string FileSaveName = SelectedDownload == "All" ? "All_Transactions.csv" : SelectedDownload.Replace(" ", "_") + "_Transactions.csv";
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", FileSaveName, "text/csv", file);
    }
    private void SubtractUnspent()
    {
        var Person1Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson1);
        var Person2Income = Balances.FirstOrDefault(bal => bal.Name == PaidIntoPerson2);

        DynamicCostItem TheDCI;
        StaticMonthlyCost TheSMC;

        Dictionary<string, (double, double)> RealValues = new Dictionary<string, (double, double)>();

        double SMCDifference;
        double DCIDifference;

        double TotalForDS1;
        double TotalForDS2;

        foreach (Transaction t in FilteredTransactions)
        {
            TheDCI = SimulatedConstants.DynamicCostItems.FirstOrDefault(d => t.ExpenseType == d.Name);
            if (TheDCI != null)
            {
                /*
                Check if the Expense Type for the Dynamic Cost Item already exists.

                If yes, add current t.PersonXAmount values to each respective item
                Otherwise, add it.
                */
                if (RealValues.ContainsKey(t.ExpenseType))
                    RealValues[t.ExpenseType] = (RealValues[t.ExpenseType].Item1 + t.Person1Amount, RealValues[t.ExpenseType].Item2 + t.Person2Amount);
                else
                    RealValues[t.ExpenseType] = (t.Person1Amount, t.Person2Amount);
            }

            TheSMC = SimulatedConstants.StaticMonthlyCosts.FirstOrDefault(d => t.Name == d.Name);
            if (TheSMC != null)
            {
                /*
                Check if the Name for the Static Cost exists.

                If yes, add current t.PersonXAmount values.
                */

                RealValues[t.Name] = (t.Person1Amount, t.Person2Amount);
            }
        }

        foreach (var sm in SimulatedConstants.StaticMonthlyCosts)
        {
            if (RealValues.ContainsKey(sm.Name))
            {
                // If Person1 has 0 and they are expected to pay, use the expected (sm.Person1Amount) value
                // Otherwise, do nothing because the value has already been subtracted when the transaction was added
                if (RealValues[sm.Name].Item1 == 0 && sm.Person1Amount != 0)
                    Person1Income.Value -= sm.Person1Amount;

                // If Person2 has 0 and they are expected to pay, use the expected (sm.Person2Amount) value
                // Otherwise, do nothing because the value has already been subtracted when the transaction was added
                if (RealValues[sm.Name].Item2 == 0 && sm.Person2Amount != 0)
                    Person2Income.Value -= sm.Person2Amount;
            }
            else
            {
                Person1Income.Value -= sm.Person1Amount;
                Person2Income.Value -= sm.Person2Amount;
            }
        }
        foreach (var dc in SimulatedConstants.DynamicCostItems)
        {
            if (RealValues.ContainsKey(dc.Name))
            {
                // If Person1 is expected to spend more than they have spent, add current spending back and subtracted the 
                // greater value
                // Otherwise, do nothing because the real values (which would be greater than projected) have already been 
                // subtracted when the transactions were added

                if (RealValues[dc.Name].Item1 < dc.Person1Amount)
                {
                    Person1Income.Value += RealValues[dc.Name].Item1;
                    Person1Income.Value -= dc.Person1Amount;
                }

                // If Person2 is expected to spend more than they have spent, add current spending back and subtracted the 
                // greater value
                // Otherwise, do nothing because the real values (which would be greater than projected) have already been 
                // subtracted when the transactions were added

                if (RealValues[dc.Name].Item2 < dc.Person2Amount)
                {
                    Person2Income.Value += RealValues[dc.Name].Item2;
                    Person2Income.Value -= dc.Person2Amount;
                }
            }
            else
            {
                // If here, then no RealValue was found. Subtract the expected value fo the expense
                Person1Income.Value -= dc.Person1Amount;
                Person2Income.Value -= dc.Person2Amount;
            }
        }
    }
}