@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo
@if (!string.IsNullOrEmpty(TheTransaction.PaidWithPerson1))
{
    @if (!string.IsNullOrEmpty(TheTransaction.PaidOffPerson1) && TheTransaction.PaidOffPerson1.ToUpper() != "NONE")
    {
        var FromToPW = BalanceRepo.GetFromTo(TheTransaction, TheTransaction.PaidWithPerson1);
        var FromToPO = BalanceRepo.GetFromTo(TheTransaction,TheTransaction.PaidOffPerson1);
        <h5><i>@($"{TheTransaction.PaidWithPerson1} went from {Constants.Pretty(FromToPW.Item1)} to {Constants.Pretty(FromToPW.Item2)}")</i></h5>
        <h5><i>@($"{TheTransaction.PaidOffPerson1} went from {Constants.Pretty(FromToPO.Item1)} to {Constants.Pretty(FromToPO.Item2)}")</i></h5>
    }
    else
    {
        var FromTo = BalanceRepo.GetFromTo(TheTransaction,TheTransaction.PaidWithPerson1);
        <h5><i>@($"{TheTransaction.PaidWithPerson1} went from {Constants.Pretty(FromTo.Item1)} to {Constants.Pretty(FromTo.Item2)}")</i></h5>
    }
}

@if (!string.IsNullOrEmpty(TheTransaction.PaidWithPerson2))
{
    @if (!string.IsNullOrEmpty(TheTransaction.PaidOffPerson2) && TheTransaction.PaidOffPerson1.ToUpper() != "NONE")
    {
        var FromToPW = BalanceRepo.GetFromTo(TheTransaction, TheTransaction.PaidWithPerson2);
        var FromToPO = BalanceRepo.GetFromTo(TheTransaction, TheTransaction.PaidOffPerson2);
        <h5><i>@($"{TheTransaction.PaidWithPerson2} went from {Constants.Pretty(FromToPW.Item1)} to {Constants.Pretty(FromToPW.Item2)}")</i></h5>
        <h5><i>@($"{TheTransaction.PaidOffPerson2} went from {Constants.Pretty(FromToPO.Item1)} to {Constants.Pretty(FromToPO.Item2)}")</i></h5>
    }
    else
    {
        var FromTo = BalanceRepo.GetFromTo(TheTransaction, TheTransaction.PaidWithPerson2);
        <h5><i>@($"{TheTransaction.PaidWithPerson2} went from {Constants.Pretty(FromTo.Item1)} to {Constants.Pretty(FromTo.Item2)}")</i></h5>
    }
}

@code {
    [Parameter]
    public Transaction TheTransaction { get; set; }

    int IncomeMultiplier => TheTransaction != null ? Constants.IncomeMultiplier(TheTransaction.ExpenseType) : 1;
}
