@inject NavigationManager NaviMan

@if (!ShowBack)
{
    <div class="container-env flex-c" style="height:fit-content;width:@scale;background-image:url(images/Envelope.webp);margin:0;background-size:100% 100%;align-items:center;
                        cursor: @(OnClick == null && !FlipClick ? "auto" : "pointer");" @onclick='@(() => OnClickHandle())'>

        <div class="flex-r-100" style="font-size:@(Font_Size / 2)vw;margin:1em">
            <div style="width:fit-content;background-color:white">
                <strong>Goal: <span style="color:limegreen;">@Constants.Pretty(Goal)</span></strong>
            </div>
        </div>

        <div class="flex-r" style="font-size:@(Font_Size)vw;width:100%;white-space:normal;padding:0 10%">
            <div style="background-color:white;white-space:normal">
                @if (string.IsNullOrEmpty(Name))
                {
                    @("(Enter Name)")
                }
                else
                {
                    @Name
                }
            </div>
        </div>

        <div class="flex-r-100" style="font-size:@(Font_Size / 2)vw;white-space:nowrap;margin:1em;padding:0;">
            <div style="width:fit-content;background-color:white">
                <strong>Saved: <span style="color:@GoodOrBad()">@Constants.Pretty(Saved)</span></strong>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-env flex-c-start" style="height:fit-content;width:@scale;background-image:url(images/EnvelopeBack.webp);margin:0;padding:1px;background-size:100% 100%;align-items:center;
                        cursor: @(OnClick == null && !FlipClick ? "auto" : "pointer");" @onclick='@(() => OnClickHandle())'>
        <div class="flex-r-100" style="font-size:@(Font_Size)vw;">
            <div style="background-color:white;width:fit-content">
                @Name
            </div>
        </div>
        <div class="flex-c" style="background-color:transparent;font-size:@(Font_Size / 2)vw;">
            <div style="width:@SmallTxtScale">
                <strong>
                    @(Constants.Person1 + ":")
                    <br />
                    <span style="color:@GoodOrBad()">@Person1Disp</span>
                </strong>
            </div>
            <div style="width:@SmallTxtScale">
                <strong>
                    @(Constants.Person2 + ":")
                    <br />
                    <span style="color:@GoodOrBad()">@Person2Disp</span>
                </strong>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Name { get; set; } = "Centered";
    [Parameter]
    public double Scale { get; set; } = 20;
    public string scale => Scale + "vw";
    public string SmallTxtScale => Scale > 20 ? (Scale - 10) + "vw" : "10vw";
    [Parameter]
    public Action OnClick
    {
        get; set;
    }
    private bool flipClick { get; set; } = false;

    [Parameter]
    public bool FlipClick
    {
        get { return flipClick; }
        set
        {
            flipClick = value;
        }
    }
    [Parameter]
    public double Goal { get; set; }
    [Parameter]
    public double Saved { get; set; }
    [Parameter]
    public double Person1Amount { get; set; }
    [Parameter]
    public double Person2Amount { get; set; }
    [Parameter]
    public string Person1Account { get; set; }
    [Parameter]
    public string Person2Account { get; set; }
    [Parameter]
    public double Font_Size { get; set; } = 2;
    [Parameter]
    public bool Adding { get; set; }
    [Parameter]
    public bool Stashing { get; set; }
    [Parameter]
    public bool Cashing { get; set; }

    private string Person1Disp => string.IsNullOrEmpty(Person1Account) ? Constants.Pretty(Person1Amount) : Constants.Pretty(Person1Amount) + " (" + Person1Account + ")";
    private string Person2Disp => string.IsNullOrEmpty(Person2Account) ? Constants.Pretty(Person2Amount) : Constants.Pretty(Person2Amount) + " (" + Person2Account + ")";

    private bool ShowBack = false;

    public string ImageSrc => DetermineState();

    private void OnClickHandle()
    {
        if (OnClick != null)
            OnClick();

        if (FlipClick)
            Flip();
    }
    private string GoodOrBad()
    {
        return Saved < Goal * .99 ? Saved < Goal * .9 ? "red" : "yellowgreen" : "limegreen";
    }
    private string DetermineState()
    {
        if (!Stashing && Saved > 0 && Adding)
            return "/images/Envelope-OpenF.webp";
        else if (Stashing && Saved <= 0 && Adding)
            return "/images/Fill1.gif";
        else if (Stashing && Saved > 0 && Adding)
            return "/images/FillFull.gif";
        else if (!Stashing && Saved <= 0 && Adding)
            return "/images/Envelope-OpenE.webp";
        else if (!Cashing && Saved > 0 && !Adding)
            return "/images/Envelope-OpenF.webp";
        else if (Cashing && Saved <= 0 && !Adding)
            return "/images/Remove.gif";
        else if (Cashing && Saved > 0 && !Adding)
            return "/images/RemoveFull.gif";
        else if (!Cashing && Saved <= 0 && !Adding)
            return "/images/Envelope-OpenE.webp";
        else
            return "/images/Envelope-OpenE.webp";
    }
    public void Flip()
    {
        ShowBack = !ShowBack;
    }
}
