@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo
@using BetterBudgetWeb.Runner
@using BetterBudgetWeb.MonthView
@using System.Globalization
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject IJSRuntime jsRuntime

@if (!Mobile)
{
    <Confirmation Title="Your Reports" OnClose="ModalCancel"
                  RightBtnTxt="@(SelectedMonth == "All" ? "Rebalance to Spent" : "")"
                  RightBtnColor="btn-primary"
                  RightBtnClick="@(() => { if (SelectedMonth == "All") Rebalancing = !Rebalancing; })">
        <div class="flex-c" style="flex-wrap:wrap;">
            @if (SFDs != null && SFDs.Count > 0)
            {
                @if (Years != null && Years.Count > 1)
                {
                    <div class="tab" style="width:75vw">
                        @foreach (var y in Years)
                        {
                            <button class="tablinks @y.MyClass" @onclick="() => ToggleYClasses(y.MyYear)">@y.MyYear</button>
                        }
                        <div class="tab" style="width:100vw">
                            @foreach (var mt in MonthTabs.Where(m => m.MyYear == Years.FirstOrDefault(ye => ye.MyClass == "active").MyYear))
                            {
                                <button class="tablinks @mt.MyClass" @onclick="() => ToggleClasses(mt.MyMonth)">@mt.MyMonth</button>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab" style="width:75vw;">
                        @foreach (var mt in MonthTabs)
                        {
                            <button class="tablinks @mt.MyClass" @onclick="() => ToggleClasses(mt.MyMonth)">@mt.MyMonth</button>
                        }
                        <br style="clear:both" />
                    </div>
                }
                <div class="tabcontent flex-r" style="justify-content:space-between;width:100%">
                    <table class="toggle-table report-table">
                        <tr>
                            <th colspan="4" style="background-color:darkblue;color:white;"><i>Summary</i></th>
                        </tr>
                        <tr>
                            <th>
                            </th>
                            <th>
                                @Constants.Person1
                            </th>
                            <th>
                                @Constants.Person2
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                        <tr>
                            <td>Transactions:</td>
                            <td>@Person1TransCount</td>
                            <td>@Person2TransCount</td>
                            <td>
                                @TotalTransCount
                                @if (Person1TransCount + Person2TransCount > TotalTransCount)
                                {
                                    <br />
                                    <span>@($"(Overlapped: {Person1TransCount + Person2TransCount - TotalTransCount})")</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Projected Expense Total:
                            </td>
                            <td>@Pretty(Person1Projected)</td>
                            <td>@Pretty(Person2Projected)</td>
                            <td>@Pretty(TotalProjected)</td>
                        </tr>
                        <tr>
                            <td>
                                Actual Expense Total:
                            </td>
                            <td class="income-bad">@Pretty(Person1Actual)</td>
                            <td class="income-bad">@Pretty(Person2Actual)</td>
                            <td class="income-bad">@Pretty(TotalActual)</td>
                        </tr>
                        <tr>
                            <td>
                                Income + Added Equity Total:
                            </td>
                            <td class="income-good">@Pretty(Person1Income)</td>
                            <td class="income-good">@Pretty(Person2Income)</td>
                            <td class="income-good">@Pretty(TotalIncome)</td>
                        </tr>
                        <tr>
                            <td colspan="4">=</td>
                        </tr>
                        <tr>
                            <td>
                                Net for Month:
                            </td>
                            <td class="@TranColor(Person1Income - Person1Actual)">@Pretty(Person1Income - Person1Actual)</td>
                            <td class="@TranColor(Person2Income - Person2Actual)">@Pretty(Person2Income - Person2Actual)</td>
                            <td class="@TranColor(TotalIncome - TotalActual)">@Pretty(TotalIncome - TotalActual)</td>
                        </tr>
                    </table>
                    <br style="clear:both;" />
                    <ReportDynamic SFDs=@SFDs Rebalancing=@(Rebalancing &&
                           SelectedMonth == "All")
                                   NumOfMonths=@(MonthTabs.Where(m => m.MyYear == Years.FirstOrDefault(ye =>
                           ye.MyClass == "active").MyYear).Count() - 1) />
                </div>
            }
            else
            {
                <div class="flex-c" style="flex-wrap:wrap;">
                    <div style="text-align:center;font-size:1vw">Loading...</div>
                </div>
            }
        </div>
    </Confirmation>
}
else
{
    <Confirmation Title="Your Reports" OnClose="ModalCancel"
                  RightBtnTxt="" >
        <div class="modal-body" style="width:fit-content;max-height:85vh;color:black;overflow-y:scroll;">
            @if (SFDs != null && SFDs.Count > 0)
            {
                @if (Years != null && Years.Count > 1)
                {
                    <div class="tab" style="width:100%">
                        @foreach (var y in Years)
                        {
                            <button class="tablinks @y.MyClass" @onclick="() => ToggleYClasses(y.MyYear)">@y.MyYear</button>
                        }
                        <div class="tab" style="width:100%">
                            @foreach (var mt in MonthTabs.Where(m => m.MyYear == Years.FirstOrDefault(ye => ye.MyClass == "active").MyYear))
                            {
                                <button class="tablinks @mt.MyClass" @onclick="() => ToggleClasses(mt.MyMonth)">@mt.MyMonth</button>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab" style="width:100%;">
                        @foreach (var mt in MonthTabs)
                        {
                            <button class="tablinks @mt.MyClass" @onclick="() => ToggleClasses(mt.MyMonth)">@mt.MyMonth</button>
                        }
                        <br style="clear:both" />
                    </div>
                }
                <div class="flex-c" style="justify-content:space-between;margin-top:1em">
                    <div>
                        <table class="toggle-table report-table">
                            <tr>
                                <th colspan="4" style="background-color:darkblue;color:white;"><i>Summary</i></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th style="font-size:3vw;padding:5px">
                                    @Constants.Person1
                                </th>
                                <th style="font-size:3vw;padding:5px">
                                    @Constants.Person2
                                </th>
                                <th style="font-size:3vw;padding:5px">
                                    Total
                                </th>
                            </tr>
                            <tr>
                                <td style="font-size:3vw;padding:5px">Transactions:</td>
                                <td style="font-size:3vw;padding:5px">@Person1TransCount</td>
                                <td style="font-size:3vw;padding:5px">@Person2TransCount</td>
                                <td style="font-size:3vw;padding:5px">
                                    @TotalTransCount
                                    @if (Person1TransCount + Person2TransCount > TotalTransCount)
                                    {
                                        <br />
                                        <span>@($"(Overlapped: {Person1TransCount + Person2TransCount - TotalTransCount})")</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:3vw;padding:5px">
                                    Projected Expense Total:
                                </td>
                                <td style="font-size:3vw;padding:5px">@Pretty(Person1Projected)</td>
                                <td style="font-size:3vw;padding:5px">@Pretty(Person2Projected)</td>
                                <td style="font-size:3vw;padding:5px">@Pretty(TotalProjected)</td>
                            </tr>
                            <tr>
                                <td style="font-size:3vw;padding:5px">
                                    Actual Expense Total:
                                </td>
                                <td class="income-bad" style="font-size:3vw;padding:5px">@Pretty(Person1Actual)</td>
                                <td class="income-bad" style="font-size:3vw;padding:5px">@Pretty(Person2Actual)</td>
                                <td class="income-bad" style="font-size:3vw;padding:5px">@Pretty(TotalActual)</td>
                            </tr>
                            <tr>
                                <td style="font-size:3vw;padding:5px">
                                    Income + Added Equity Total:
                                </td>
                                <td class="income-good" style="font-size:3vw;padding:5px">@Pretty(Person1Income)</td>
                                <td class="income-good" style="font-size:3vw;padding:5px">@Pretty(Person2Income)</td>
                                <td class="income-good" style="font-size:3vw;padding:5px">@Pretty(TotalIncome)</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="font-size:3vw;padding:5px">=</td>
                            </tr>
                            <tr>
                                <td style="font-size:3vw;padding:5px">
                                    Net for Month:
                                </td>
                                <td class="@TranColor(Person1Income - Person1Actual)" style="font-size:3vw;padding:5px">@Pretty(Person1Income - Person1Actual)</td>
                                <td class="@TranColor(Person2Income - Person2Actual)" style="font-size:3vw;padding:5px">@Pretty(Person2Income - Person2Actual)</td>
                                <td class="@TranColor(TotalIncome - TotalActual)" style="font-size:3vw;padding:5px">@Pretty(TotalIncome - TotalActual)</td>
                            </tr>
                        </table>
                    </div>
                    <br style="clear:both;" />
                    <div>
                        <ReportDynamic SFDs=@SFDs />
                    </div>

                </div>
            }
            else
            {
                <span>Loading...</span>
            }
        </div>
    </Confirmation>
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private List<MonthTab> MonthTabs { get; set; } = new List<MonthTab>();
    private List<YearTab> Years = new List<YearTab>();

    private List<Transaction> Trans = new List<Transaction>();

    private int Person1TransCount { get; set; }
    private int Person2TransCount { get; set; }
    private int TotalTransCount { get; set; }

    private double Person1Projected { get; set; }
    private double Person2Projected { get; set; }
    private double TotalProjected { get; set; }

    private double Person1Actual { get; set; }
    private double Person2Actual { get; set; }
    private double TotalActual { get; set; }

    private double Person1Income { get; set; }
    private double Person2Income { get; set; }
    private double TotalIncome { get; set; }

    private string SelectedMonth { get; set; }
    private string SelectedYear { get; set; }

    public bool Mobile => Constants.Mobile;

    public bool Rebalancing = false;

    private List<Transaction> Transactions = new List<Transaction>();
    private List<SnapForDynamic> SFDs = new List<SnapForDynamic>();

    private List<DynamicCostItem> DCIs = new List<DynamicCostItem>();
    private List<StaticMonthlyCost> SMCs = new List<StaticMonthlyCost>();
    private List<Snapshot> snaps = new List<Snapshot>();

    protected override async Task OnInitializedAsync()
    {
        Transactions = await TransactionRepo.GetTransactionsAsync("ALL");

        var MonthYears = IndexRunner.GetMonthsAndYears(Transactions);
        if (MonthYears.Count > 0)
        {
            MonthYears.Reverse();
            string[] splitter = MonthYears[MonthYears.Count - 1].Split();
            string CurYear = splitter[1];
            string ThisMonth = DateTime.Now.ToString("MMMM");

            Years.Add(new YearTab { MyYear = CurYear, MyClass = CurYear == DateTime.Now.Year.ToString() ? "active" : "" });
            MonthTabs.Add(new MonthTab { MyMonth = splitter[0], MyYear = splitter[1], MyClass = "" });

            for (int index = MonthYears.Count - 2; index >= 0; index--)
            {
                splitter = MonthYears[index].Split();

                if (splitter[1] != CurYear)
                {
                    MonthTabs.Add(new MonthTab { MyMonth = "All", MyYear = CurYear, MyClass = "" });
                    CurYear = splitter[1];

                    Years.Add(new YearTab { MyYear = CurYear, MyClass = CurYear == DateTime.Now.Year.ToString() ? "active" : "" });
                }

                MonthTabs.Add(new MonthTab { MyMonth = splitter[0], MyYear = CurYear, MyClass = "" });
            }

            MonthTabs.Add(new MonthTab { MyMonth = "All", MyYear = CurYear, MyClass = "active" });
        }

        // Highest month ia unused now. Uncomment if needed later
        /*        int highest_month = 0;
        foreach (var sn in snaps)
        {
        if (Constants.Months.IndexOf(sn.Month) >= highest_month && sn.Year == DateTime.Now.Year)
            highest_month = Constants.Months.IndexOf(sn.Month);
        }
        */

        /* Line below used to be in if that said:
         *       if ((Constants.Months.IndexOf(DateTime.Now.ToString("MMMM")) > highest_month) || (highest_month == 0 && DateTime.Now.Month == 1))
         *
         * Now: Always set Previous Month in case updates are made up to 1 month later
        */

        if (Years.Count == 1 && Years[0].MyClass != "active")
            Years[0].MyClass = "active";
        snaps = await SnapshotRepo.GetSnapshotsAsync();

        await LoadTable();
    }

    private async Task LoadTable()
    {
        Trans.Clear();
        DCIs.Clear();
        SMCs.Clear();
        Rebalancing = false;

        Dynamo dyna;
        SFDs = new List<SnapForDynamic>();
        SnapForDynamic sfd = new SnapForDynamic();


        int monthInt;
        int yearInt;

        MonthTab activeMonth = MonthTabs.FirstOrDefault(m => m.MyClass == "active");
        YearTab activeYear = Years.FirstOrDefault(y => y.MyClass == "active");

        if (activeMonth == null)
        {
            int MTC = MonthTabs.Count;
            if (MTC > 0)
            {
                MonthTabs[MTC - 1].MyClass = "active";
                activeYear = Years.FirstOrDefault(y => y.MyYear == MonthTabs[MTC - 1].MyYear);
            }
        }

        if (activeYear == null)
        {
            int YC = Years.Count;
            if (YC > 0)
            {
                Years[YC - 1].MyClass = "active";
                activeYear = Years.FirstOrDefault(y => y.MyYear == Years[YC - 1].MyYear);
            }
        }

        SelectedMonth = activeMonth.MyMonth;
        SelectedYear = activeYear.MyYear;

        if (SelectedMonth == "All")
        {
            Trans = new List<Transaction>(Transactions.Where(t => t.DateOfTransaction.Year.ToString() == SelectedYear));

            List<Snapshot> ThisYearSnaps = snaps.Where(sn => sn.Year.ToString() == SelectedYear).ToList();

            Person1TransCount = ThisYearSnaps.Sum(sn => sn.Person1Transactions);
            Person2TransCount = ThisYearSnaps.Sum(sn => sn.Person2Transactions);
            TotalTransCount = ThisYearSnaps.Sum(sn => sn.TotalTransactions);

            Person1Projected = ThisYearSnaps.Sum(sn => sn.Person1AmountProjected);
            Person2Projected = ThisYearSnaps.Sum(sn => sn.Person2AmountProjected);

            Person1Actual = ThisYearSnaps.Sum(sn => sn.Person1AmountActual);
            Person2Actual = ThisYearSnaps.Sum(sn => sn.Person2AmountActual);

            Person1Income = ThisYearSnaps.Sum(sn => sn.Person1Income);
            Person2Income = ThisYearSnaps.Sum(sn => sn.Person2Income);

            SnapForDynamic exists;

            foreach (var dn in ThisYearSnaps.Select(s => s.DynamicJSON))
            {
                dyna = (Dynamo)JsonConvert.DeserializeObject<Dynamo>(dn);
                if (!MonthTabs.Select(m => m.MyMonth).Contains(dyna.Month))
                    continue;

                foreach (JObject key in dyna.DynamicCosts)
                {
                    sfd = new SnapForDynamic
                        {
                            Name = key["Name"].ToString(),
                            Projected = double.TryParse(key["Projected"].ToString(), out double pro) ? pro : 0,
                            Actual = double.TryParse(key["Actual"].ToString(), out double act) ? act : 0
                        };

                    exists = SFDs.FirstOrDefault(s => s.Name.Trim() == sfd.Name.Trim());

                    if (exists == null)
                        SFDs.Add(sfd);
                    else
                    {
                        exists.Projected += sfd.Projected;
                        exists.Actual += sfd.Actual;
                    }
                }
            }
        }
        else
        {
            Trans = new List<Transaction>(Transactions.Where(t => t.MonthYear() == SelectedMonth + " " + SelectedYear));

            Snapshot SelSnap = snaps.FirstOrDefault(sn => sn.Month == SelectedMonth && sn.Year.ToString() == SelectedYear);

            Person1TransCount = SelSnap.Person1Transactions;
            Person2TransCount = SelSnap.Person2Transactions;
            TotalTransCount = SelSnap.TotalTransactions;

            Person1Projected = SelSnap.Person1AmountProjected;
            Person2Projected = SelSnap.Person2AmountProjected;

            Person1Actual = SelSnap.Person1AmountActual;
            Person2Actual = SelSnap.Person2AmountActual;

            Person1Income = SelSnap.Person1Income;
            Person2Income = SelSnap.Person2Income;

            dyna = (Dynamo)JsonConvert.DeserializeObject<Dynamo>(SelSnap.DynamicJSON);

            foreach (JObject key in dyna.DynamicCosts)
            {
                sfd = new SnapForDynamic
                    {
                        Name = key["Name"].ToString(),
                        Projected = double.TryParse(key["Projected"].ToString(), out double pro) ? pro : 0,
                        Actual = double.TryParse(key["Actual"].ToString(), out double act) ? act : 0
                    };

                SFDs.Add(sfd);
            }

            monthInt = DateTime.ParseExact(SelectedMonth, "MMMM", CultureInfo.CurrentCulture).Month;
            yearInt = int.Parse(SelectedYear);

            ReportRunner.SetMonthlies(monthInt, yearInt);

            foreach (var d in ReportRunner.DynamicCostItems)
            {
                double[] dciSums = ReportRunner.SumForDynamic(Trans, d.Name);
                d.SpentReport = dciSums[0] + dciSums[1];
            }

            DCIs = ReportRunner.DynamicCostItems;
        }

        TotalActual = Person1Actual + Person2Actual;
        TotalProjected = Person1Projected + Person2Projected;
        TotalIncome = Person1Income + Person2Income;

        StateHasChanged();
    }

    private string TranColor(double num)
    {
        if (num > 0)
            return "income-good";
        else
            return "income-bad";
    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private async Task ModalDecline()
    {
        await OnClose.InvokeAsync(false);
    }

    private void ToggleClasses(string Month)
    {
        foreach (var m in MonthTabs)
        {
            if (m.MyMonth == Month)
                m.MyClass = "active";
            else
                m.MyClass = "";
        }

        LoadTable();
    }

    private void ToggleYClasses(string Year)
    {
        foreach (var y in Years)
        {
            if (y.MyYear == Year)
                y.MyClass = "active";
            else
                y.MyClass = "";
        }

        ToggleClasses("All");
        StateHasChanged();
    }
    protected async Task<string> ReadCookies(string CookieName)
    {
        string response;
        try
        {
            response = await jsRuntime.InvokeAsync<string>("ReadCookie", CookieName);
        }
        catch (Exception e)
        {
            response = null;
        }

        return response;
    }
    public async Task WriteCookieAsync(string name, string value, double days)
    {
        var test = await jsRuntime.InvokeAsync<object>("WriteCookie", name, value, days);
    }

    private string Pretty(double am)
    {
        return Constants.Pretty(am);
    }

    internal class Dynamo
    {
        public string Month = "";
        public string Year = "";
        public JArray DynamicCosts;
    }

    internal class MonthTab
    {
        public string MyMonth = "";
        public string MyYear = "";
        public string MyClass = "";
    }

    internal class YearTab
    {
        public string MyYear = "";
        public string MyClass = "";
    }
}
