@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo
@using BetterBudgetWeb.Shared.PresetSections
<style>
    .food {
        background-color: deeppink;
    }

    .gas {
        background-color: coral;
    }

    .fun {
        background-color: green;
    }

    h4 {
        margin-left: 1vw;
    }
</style>
@if (Mobile)
{
    <div style="width:fit-content;">
        @if (Presets != null && Presets.Count > 0 && Constants.TIER_LEVEL > Tier.BASIC_TIER)
        {
            <br style="clear:both" />
            <AdvancedWrapper Bottom="false" Top="true">
                <div style="width:90%;height:fit-content;right:1vw;top:15vh;border:@Constants.Options(Constants.TryingItOut,"","solid silver 1px");">
                    <h1 style="text-align:center">Presets:</h1>
                    <div style="display:table;justify-content:flex-start;align-content:flex-start;flex-wrap:wrap">
                        @foreach (var et in ExpenseTypesForPresets)
                        {
                            <PresetBlock ExpenseType=@et Preset=Preset />
                        }
                    </div>
                    @if (PresetsForDel != null && PresetsForDel.Count > 0 && Constants.TIER_LEVEL > Tier.BASIC_TIER)
                    {
                        <div class="flex-r" style="width:100%;justify-content:space-evenly;align-items:center;padding:1em;border:solid red 1px;">
                            <div><span>Delete Preset:</span></div>
                            <div>
                                <select @bind="@SelectedPreset">
                                    <option selected disabled value='@("NONE")'>(Select Preset)</option>
                                    @foreach (var pre in PresetsForDel)
                                    {
                                        <option value="@pre.Id">@pre.Name</option>
                                    }
                                </select>
                            </div>
                            <div><button class="btn btn-danger" @onclick="DeletePreset">Delete</button></div>
                        </div>
                    }
                </div>
            </AdvancedWrapper>
        }
        <br />
        <br />
        <div id="tran-name" class="flex-r" style="justify-content:start;">
            <div style="width:50%;">
                <div>
                    <label>Transaction:</label>
                    <br />
                    @if (ExpenseType == "Transfer")
                    {
                        <input type="text" disabled placeholder="Name" value="Transfer" />
                    }
                    else
                    {
                        <input type="text" placeholder="Name" @bind-value="@TransactionName" @oninput="@(async (ui) => { TransactionName = (string) ui.Value;})" />
                    }
                </div>
                <br />
                <div>
                    <label>Expense Type:</label>
                    <br />
                    <select class="custom-select" style="margin:1vh 0 1vh 0;" @bind="ExpenseType" title="Pick an Expense Type ">
                        <option value="@string.Empty" selected disabled="disabled">Expense</option>
                        @foreach (var et in ExpenseTypes)
                        {
                            @if (et.Contains("- Others -") || et.Contains("-- Dynamic Costs --"))
                            {
                                <option value="et" disabled>@et</option>
                            }
                            else
                            {
                                @if (et == "Paying Off Debt")
                                {
                                    <option value="Debt">@et</option>
                                }
                                else
                                {
                                    @if (et == "Transfer Between Accounts")
                                    {
                                        <option value="Transfer">@et</option>
                                    }
                                    else
                                    {
                                        <option value="@et">@et</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
                @if (ExpenseType == "Debt")
                {
                    <br />
                    <div>
                        <label>@($"{Constants.Person1} Paying With:")</label>
                        <br />
                        <select class="custom-select" @bind="PaidWithPerson1" title="Paid For is required ">
                            <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account)")</option>
                            @if (ExpenseType == "Equity")
                            {
                                @if (Person1BalancesEquities != null)
                                {
                                    @foreach (var pay in Person1BalancesEquities)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            }
                            else
                            {
                                @if (Person1Balances != null)
                                {
                                    @foreach (var pay in Person1Balances)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            }
                            <option value="NONE">Did not pay</option>
                        </select>
                    </div>
                    <br />
                    <div>
                        <label>@($"{Constants.Person1} Paying Off:")</label>
                        <br />
                        <select class="custom-select" @bind="PaidOffPerson1" title="Paid Off is required ">
                            <option value="@string.Empty" selected disabled="disabled">(Choose What You Paid Off)</option>
                            @if (Person1BalancesLoans != null)
                            {
                                @foreach (var pay in Person1BalancesLoans)
                                {
                                    <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <br />
                    <div>
                        <label>@($"{Constants.Person1} Amount:")</label>
                        <br />
                        <input type="number" placeholder="Amount" @bind-value="@Person1Amount" @oninput="@(async (ui) => { Person1Amount = (string) ui.Value;})" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <label>@($"{Constants.Person2} Paying With:")</label>
                        <br />
                        <select class="custom-select" @bind="PaidWithPerson2" title="Paid For is required ">
                            <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account)")</option>
                            @if (ExpenseType == "Equity")
                            {
                                @if (Person2BalancesEquities != null)
                                {
                                    @foreach (var pay in Person2BalancesEquities)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            }
                            else
                            {
                                @if (Person2Balances != null)
                                {
                                    @foreach (var pay in Person2Balances)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            }
                            <option value="NONE">Did not pay</option>
                        </select>
                    </div>
                    <br />
                    <div>
                        <label><strong>@($"{Constants.Person2} Paying Off:")</strong></label>
                        <br />
                        <select class="custom-select" @bind="PaidOffPerson2" title="Paid Off is required ">
                            <option value="@string.Empty" selected disabled="disabled">(Choose What You Paid Off)</option>
                            @if (Person2BalancesLoans != null)
                            {
                                @foreach (var pay in Person2BalancesLoans)
                                {
                                    <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <br />
                    <div>
                        <label>@($"{Constants.Person2} Amount:")</label>
                        <br />
                        <input type="number" placeholder="Amount" @bind-value="@Person2Amount" @oninput="@(async (ui) => { Person2Amount = (string) ui.Value;})" />
                    </div>
                }
                else
                {
                    @if (ExpenseType == "Transfer")
                    {
                        <br />
                        <div>
                            <label>@($"{Constants.Person1} Transferring From:")</label>
                            <br />
                            <select class="custom-select" @bind="PaidWithPerson1" title="Transfer account is required ">
                                <option value="@string.Empty" selected disabled="disabled">(Choose What You Are Transferring From)</option>
                                @if (Person1BalancesNotLoans != null)
                                {
                                    @foreach (var pay in Person1BalancesNotLoans)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@($"{Constants.Person1} Transferring To:")</label>
                            <br />
                            <select class="custom-select" @bind="PaidOffPerson1" title="Transfer account is required ">
                                <option value="@string.Empty" selected disabled="disabled">(Choose What You Are Transferring To)</option>
                                @if (Person1BalancesNotLoans != null)
                                {
                                    @foreach (var pay in Person1BalancesNotLoans)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@($"{Constants.Person1} Amount:")</label>
                            <br />
                            <input type="number" placeholder="Amount" @bind-value="@Person1Amount" @oninput="@(async (ui) => { Person1Amount = (string) ui.Value;})" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <label>@($"{Constants.Person2} Transferring From:")</label>
                            <br />
                            <select class="custom-select" @bind="PaidWithPerson2" title="Transfer account required ">
                                <option value="@string.Empty" selected disabled="disabled">(Choose What You Are Transferring From)</option>
                                @if (Person2BalancesNotLoans != null)
                                {
                                    @foreach (var pay in Person2BalancesNotLoans)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@($"{Constants.Person2} Transferring To:")</label>
                            <br />
                            <select class="custom-select" @bind="PaidOffPerson2" title="Transfer account required ">
                                <option value="@string.Empty" selected disabled="disabled">(Choose What You Are Transferring To)</option>
                                @if (Person2BalancesNotLoans != null)
                                {
                                    @foreach (var pay in Person2BalancesNotLoans)
                                    {
                                        <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@($"{Constants.Person2} Amount:")</label>
                            <br />
                            <input type="number" placeholder="Amount" @bind-value="@Person2Amount" @oninput="@(async (ui) => { Person2Amount = (string) ui.Value;})" />
                        </div>
                    }
                    else
                    {
                        <br />
                        <div>
                            @if (ExpenseType == "Income" || ExpenseType == "Equity")
                            {
                                <label>@($"{Constants.Person1} was Paid Into:")</label>
                            }
                            else
                            {
                                <label>@($"{Constants.Person1} Paid With:")</label>

                            }
                            <br />
                            <select class="custom-select" @bind="PaidWithPerson1" title="Paid For is required ">
                                <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account)")</option>
                                @if (ExpenseType == "Equity")
                                {
                                    @if (Person1BalancesEquities != null)
                                    {
                                        @foreach (var pay in Person1BalancesEquities)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                }
                                else
                                {
                                    @if (Person1Balances != null)
                                    {
                                        @foreach (var pay in Person1Balances)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                }
                                <option value="NONE">Did not pay</option>
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@($"{Constants.Person1} Amount:")</label>
                            <br />
                            <input type="number" placeholder="Amount" @bind-value="@Person1Amount" @oninput="@(async (ui) => { Person1Amount = (string) ui.Value;})" />
                        </div>
                        <br />
                        <div>
                            @if (ExpenseType == "Income" || ExpenseType == "Equity")
                            {
                                <label>@($"{Constants.Person2} was Paid Into:")</label>
                            }
                            else
                            {
                                <label>@($"{Constants.Person2} Paid With:")</label>

                            }
                            <br />
                            <select class="custom-select" @bind="PaidWithPerson2" title="Paid For is required ">
                                <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account)")</option>
                                @if (ExpenseType == "Equity")
                                {
                                    @if (Person2BalancesEquities != null)
                                    {
                                        @foreach (var pay in Person2BalancesEquities)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                }
                                else
                                {
                                    @if (Person2Balances != null)
                                    {
                                        @foreach (var pay in Person2Balances)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                }
                                <option value="NONE">Did not pay</option>
                            </select>
                        </div>
                        <br />
                        <div>
                            <label>@($"{Constants.Person2} Amount:")</label>
                            <br />
                            <input type="number" placeholder="Amount" @bind-value="@Person2Amount" @oninput="@(async (ui) => { Person2Amount = (string) ui.Value;})" />
                        </div>
                    }
                }
                <br style="clear:both" />
                <br style="clear:both" />
                <br style="clear:both" />
                <div style="margin-bottom:2vh;">
                    <button class="btn btn-secondary" style="float:left" disabled=@Disabled @onclick="Submit">Submit</button>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(TransactionName) && Constants.TIER_LEVEL > Tier.BASIC_TIER)
            {
                <div class="flex-c" style="width:50%;justify-content:end;">
                    <div class="flex-c" style="align-items:center;justify-content:end;border:solid silver 1px;height:fit-content">
                        <div class="flex-c" style="justify-content:start;width:fit-content">
                            <label style="float:left;margin-right:1vw">Text Color:</label>
                            <select class="custom-select" @bind=TextColor title="Balance color is required ">
                                <option value="white">White</option>
                                <option value="black">Black</option>
                            </select>
                        </div>
                        <br />
                        <div class="flex-r" style="justify-content:start;width:fit-content">
                            <label style="float:left;margin-right:1vw">Color:</label>
                            <input @bind=Hex type="color" />
                        </div>
                        <br />
                        <div style="margin-bottom:2vh;">
                            <button class="btn btn-primary" style="float:right;background-color:@Hex;" @onclick="AddPreset">
                                <span style="color:@TextColor;">Add Preset For:</span>
                                <br />
                                <span style="color:@TextColor;">@TransactionName</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
            <br />
        </div>
        @if (!string.IsNullOrEmpty(ErrorMsg))
        {
            <p style="color:@ErrorColor">@ErrorMsg</p>
        }
    </div>
}
else
{
    <div class="tabcontent">
        <div class="flex-c">
            <div class="flex-r" style="justify-content:space-between;align-items:start;width:100%">
                <div class="flex-r" style="justify-content:space-between;align-items:start;flex-wrap:wrap;width:75%;padding-right:5%">
                    <div class="flex-r" style="width:100%;justify-content:start;margin-top:1em;flex-wrap:wrap">
                        <div id="tran-name" class="flex-c" style="margin:0 1em">
                            <label style="margin-right:1em">Transaction Name:</label>
                            @if (ExpenseType == "Transfer")
                            {
                                <input type="text" disabled placeholder="Name" value="Transfer" />
                            }
                            else
                            {
                                <input type="text" placeholder="Name" @bind-value="@TransactionName" @oninput="@(async (ui) => { TransactionName = (string) ui.Value;})" />
                            }
                        </div>
                        <div class="flex-c" style="margin:0 1em">
                            <label style="margin-right:1em">Expense Type:</label>
                            <select class="custom-select" style="width:6vw;margin:1vh 0 1vh 0;" @bind="ExpenseType" title="Pick an Expense Type ">
                                <option value="@string.Empty" selected disabled="disabled">Expense</option>
                                @foreach (var et in ExpenseTypes)
                                {
                                    @if (et.Contains("- Others -") || et.Contains("-- Dynamic Costs --"))
                                    {
                                        <option value="et" disabled>@et</option>
                                    }
                                    else
                                    {
                                        @if (et == "Paying Off Debt")
                                        {
                                            <option value="Debt">@et</option>
                                        }
                                        else
                                        {
                                            @if (et == "Transfer Between Accounts")
                                            {
                                                <option value="Transfer">@et</option>
                                            }
                                            else
                                            {
                                                <option value="@et">@et</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="flex-c" style="margin:0 1em">
                            @if (ExpenseType == "Income" || ExpenseType == "Equity")
                            {
                                <label>@($"{Constants.Person1} was Paid Into:")</label>
                                <select class="custom-select" @bind="PaidWithPerson1" title="Paid For is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account)")</option>
                                    @if (ExpenseType == "Equity")
                                    {
                                        @if (Person1BalancesEquities != null)
                                        {
                                            @foreach (var pay in Person1BalancesEquities)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @if (Person1BalancesIncomes != null)
                                        {
                                            @foreach (var pay in Person1BalancesIncomes)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }

                                        @if (Person1BalancesSecurities != null)
                                        {
                                            @foreach (var pay in Person1BalancesSecurities)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }
                                    }
                                    <option value="NONE">Did not pay</option>
                                </select>
                            }
                            @if (ExpenseType == "Transfer")
                            {
                                <label>@($"{Constants.Person1} Transferring From:")</label>
                                <select class="custom-select" @bind="PaidWithPerson1" title="Paid For is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account)")</option>
                                    @if (Person1BalancesNotLoans != null)
                                    {
                                        @foreach (var pay in Person1BalancesNotLoans)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                    <option value="NONE">Did not transfer</option>
                                </select>
                            }
                            @if (ExpenseType == "Debt")
                            {
                                <label>@($"{Constants.Person1} Paid With:")</label>
                                <select class="custom-select" @bind="PaidWithPerson1" title="Paid For is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account)")</option>
                                    @if (Person1BalancesNotLoans != null)
                                    {
                                        @foreach (var pay in Person1BalancesNotLoans)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                    <option value="NONE">Did not transfer</option>
                                </select>
                            }
                            @if (ExpenseType != "Income" && ExpenseType != "Equity" && ExpenseType != "Transfer" && ExpenseType != "Debt")
                            {
                                <label>@($"{Constants.Person1} Paid With:")</label>
                                <select class="custom-select" @bind="PaidWithPerson1" title="Paid For is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account)")</option>
                                    @if (Person1Balances != null)
                                    {
                                        @foreach (var pay in Person1Balances)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                    <option value="NONE">Did not transfer</option>
                                </select>
                            }
                        </div>
                        <div class="flex-c" style="margin:0 1em">
                            @if (ExpenseType == "Income" || ExpenseType == "Equity")
                            {
                                <label>@($"{Constants.Person2} was Paid Into:")</label>
                                <select class="custom-select" @bind="PaidWithPerson2" title="Paid For is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account)")</option>
                                    @if (ExpenseType == "Equity")
                                    {
                                        @if (Person2BalancesEquities != null)
                                        {
                                            @foreach (var pay in Person2BalancesEquities)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @if (Person2BalancesIncomes != null)
                                        {
                                            @foreach (var pay in Person2BalancesIncomes)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }

                                        @if (Person2BalancesSecurities != null)
                                        {
                                            @foreach (var pay in Person2BalancesSecurities)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }
                                    }
                                    <option value="NONE">Did not pay</option>
                                </select>
                            }
                            @if (ExpenseType == "Transfer")
                            {
                                <div class="flex-c" style="margin:0 1em">
                                    <label>@($"{Constants.Person2} Transferring From:")</label>
                                    <select class="custom-select" @bind="PaidWithPerson2" title="Paid For is required ">
                                        <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account)")</option>
                                        @if (Person2BalancesNotLoans != null)
                                        {
                                            @foreach (var pay in Person2BalancesNotLoans)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }
                                        <option value="NONE">Did not transfer</option>
                                    </select>
                                </div>
                            }
                            @if (ExpenseType == "Debt")
                            {
                                <div class="flex-c" style="margin:0 1em">
                                    <label>@($"{Constants.Person2} Paid With:")</label>
                                    <select class="custom-select" @bind="PaidWithPerson2" title="Paid For is required ">
                                        <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account)")</option>
                                        @if (Person2BalancesNotLoans != null)
                                        {
                                            @foreach (var pay in Person2BalancesNotLoans)
                                            {
                                                <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                            }
                                        }
                                        <option value="NONE">Did not transfer</option>
                                    </select>
                                </div>
                            }
                            @if (ExpenseType != "Income" && ExpenseType != "Equity" && ExpenseType != "Transfer" && ExpenseType != "Debt")
                            {
                                <label>@($"{Constants.Person2} Paid With:")</label>
                                <select class="custom-select" @bind="PaidWithPerson2" title="Paid For is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account)")</option>
                                    @if (Person2Balances != null)
                                    {
                                        @foreach (var pay in Person2Balances)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                    <option value="NONE">Did not transfer</option>
                                </select>
                            }
                        </div>
                        @if (ExpenseType == "Debt")
                        {
                            <div class="flex-c" style="margin:0 1em">
                                <label><strong>@($"{Constants.Person1} Paying Off:")</strong></label>
                                <select class="custom-select" @bind="PaidOffPerson1" title="Paid Off is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account 2)")</option>
                                    @if (Person1BalancesLoans != null)
                                    {
                                        @foreach (var pay in Person1BalancesLoans)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="flex-c" style="margin:0 1em">
                                <strong>@($"{Constants.Person2} Paying Off:")</strong>
                                <select class="custom-select" @bind="PaidOffPerson2" title="Paid Off is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account 2)")</option>
                                    @if (Person2BalancesLoans != null)
                                    {
                                        @foreach (var pay in Person2BalancesLoans)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                        @if (ExpenseType == "Transfer")
                        {
                            <div class="flex-c" style="margin:0 1em">
                                <label><strong>@($"{Constants.Person1} Transferring To:")</strong></label>
                                <select class="custom-select" @bind="PaidOffPerson1" title="Transferring account is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person1}'s Account 2)")</option>
                                    @if (Person1BalancesNotLoans != null)
                                    {
                                        @foreach (var pay in Person1BalancesNotLoans)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="flex-c" style="margin:0 1em">
                                <label><strong>@($"{Constants.Person2} Transferring To:")</strong></label>
                                <select class="custom-select" @bind="PaidOffPerson2" title="Transferring account is required ">
                                    <option value="@string.Empty" selected disabled="disabled">@($"(Choose {Constants.Person2}'s Account 2)")</option>
                                    @if (Person2BalancesNotLoans != null)
                                    {
                                        @foreach (var pay in Person2BalancesNotLoans)
                                        {
                                            <option style="background-color:@pay.HexColor;color:@pay.TextColor" value="@pay.Id">@pay.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <br style="clear:both;" />
                            <br style="clear:both;" />
                        }
                    </div>
                    <div class="flex-r" style="width:100%;justify-content:start;margin-top:1em;flex-wrap:wrap">
                        <div class="flex-c" style="margin:0 1em">
                            <label>@($"{Constants.Person1} Amount:")</label>
                            <input type="number" placeholder="Amount" @bind-value="@Person1Amount" @oninput="@(async (ui) => { Person1Amount = (string) ui.Value;})" />
                        </div>
                        <div class="flex-c" style="margin:0 1em">
                            <label>@($"{Constants.Person2} Amount:")</label>
                            <input type="number" placeholder="Amount" @bind-value="@Person2Amount" @oninput="@(async (ui) => { Person2Amount = (string) ui.Value;})" />
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(TransactionName) && Constants.TIER_LEVEL > Tier.BASIC_TIER)
                    {
                        <div class="flex-r-100" style="justify-content:space-evenly;align-items:center;margin-top:1em">
                            <div class="flex-r" style="justify-content:end">
                                <label style="float:left;margin-right:1vw">Text Color:</label>
                                <select class="custom-select" @bind=TextColor title="Balance color is required ">
                                    <option value="white">White</option>
                                    <option value="black">Black</option>
                                </select>
                            </div>
                            <br />
                            <div class="flex-r" style="justify-content:end">
                                <label style="float:left;margin-right:1vw">Color:</label>
                                <input @bind=Hex type="color" />
                            </div>
                            <button class="btn btn-primary" style="background-color:@Hex;" @onclick="AddPreset">
                                <span style="color:@TextColor;">Add Preset For:</span>
                                <br />
                                <span style="color:@TextColor;">@TransactionName</span>
                            </button>
                        </div>
                    }
                </div>
                <div class="flex-r" style="width:25%;height:auto">
                    @if (Presets != null && Presets.Count > 0 && Constants.TIER_LEVEL > Tier.BASIC_TIER)
                    {
                        <AdvancedWrapper Bottom="false" Left="true" Class="componentWrapper">
                            <div class="flex-c-start" style="height: 70vh;">
                                <h1 style="text-align:center;height:10%;">Presets:</h1>
                                <div class="flex-r" style="flex: 1;justify-content:flex-start;align-content:flex-start;flex-wrap:wrap;overflow-y:auto;">
                                    @foreach (var et in ExpenseTypesForPresets)
                                    {
                                        <PresetBlock ExpenseType=@et Preset=Preset />
                                    }
                                </div>
                                <div class="flex-r" style="flex: 0 0 auto;">
                                    @if (PresetsForDel != null && PresetsForDel.Count > 0 && Constants.TIER_LEVEL > Tier.BASIC_TIER)
                                    {
                                        <div class="flex-r" style="width:100%;justify-content:space-evenly;border:solid red 1px;padding:1em;align-items:center">
                                            <div>
                                                <select @bind="@SelectedPreset">
                                                    <option selected disabled value='@("NONE")'>(Select Preset)</option>
                                                    @foreach (var pre in PresetsForDel)
                                                    {
                                                        <option value="@pre.Id">@pre.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div><button class="btn btn-danger" @onclick="DeletePreset">Delete</button></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </AdvancedWrapper>
                    }
                </div>
            </div>

            <div style="margin-bottom:2vh;">
                <button class="btn btn-secondary" style="float:left;" disabled=@Disabled @onclick="Submit">Submit</button>
            </div>
            <br />
            @if (!string.IsNullOrEmpty(ErrorMsg))
            {
                <p style="color:@ErrorColor">@ErrorMsg</p>
            }
        </div>
    </div>
}
<br />
<br />

@code {
    [Parameter]
    public string TransactionName { get; set; }
    [Parameter]
    public string ExpenseType { get; set; }
    [Parameter]
    public string PaidOffPerson1 { get; set; }
    [Parameter]
    public string PaidOffPerson2 { get; set; }
    [Parameter]
    public string PaidWithPerson1 { get; set; }
    [Parameter]
    public string PaidWithPerson2 { get; set; }
    [Parameter]
    public string Person1Amount { get; set; }
    [Parameter]
    public string Person2Amount { get; set; }
    [Parameter]
    public Action<Preset> Preset { get; set; }
    [Parameter]
    public string Hex { get; set; }
    [Parameter]
    public string TextColor { get; set; }

    private List<Preset> Presets => Constants.Presets;
    public List<Preset> PresetsForDel { get; set; }

    public bool Mobile => Constants.Mobile;

    public string SelectedPreset { get; set; }

    private List<Balance> Balances => Constants.Balances;
    private List<Balance> Person1Balances => Constants.Balances.Where(b => b.Person == Constants.Person1 || b.Person.ToUpper() == "JOINT").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person1BalancesLoans => Constants.Balances.Where(b => (b.Person == Constants.Person1 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Loan").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person1BalancesNotLoans => Constants.Balances.Where(b => (b.Person == Constants.Person1 || b.Person.ToUpper() == "JOINT") && b.BalanceType != "Loan").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person1BalancesIncomes => Constants.Balances.Where(b => (b.Person == Constants.Person1 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Income").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person1BalancesSecurities => Constants.Balances.Where(b => (b.Person == Constants.Person1 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Stocks").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person1BalancesEquities => Constants.Balances.Where(b => (b.Person == Constants.Person1 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Equity").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person2Balances => Constants.Balances.Where(b => b.Person == Constants.Person2 || b.Person.ToUpper() == "JOINT").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person2BalancesLoans => Constants.Balances.Where(b => (b.Person == Constants.Person2 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Loan").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person2BalancesNotLoans => Constants.Balances.Where(b => (b.Person == Constants.Person2 || b.Person.ToUpper() == "JOINT") && b.BalanceType != "Loan").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person2BalancesIncomes => Constants.Balances.Where(b => (b.Person == Constants.Person2 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Income").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person2BalancesSecurities => Constants.Balances.Where(b => (b.Person == Constants.Person2 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Stocks").OrderBy(p1b => p1b.Name).ToList();
    private List<Balance> Person2BalancesEquities => Constants.Balances.Where(b => (b.Person == Constants.Person2 || b.Person.ToUpper() == "JOINT") && b.BalanceType == "Equity").OrderBy(p1b => p1b.Name).ToList();

    private string ErrorMsg { get; set; } = string.Empty;
    private string ErrorColor { get; set; } = "red";

    private List<string> ExpenseTypes { get; set; } = new List<string>();
    private List<string> ExpenseTypesForPresets { get; set; } = new List<string>();

    private bool Disabled;

    protected override Task OnInitializedAsync()
    {
        PresetsForDel = new List<Preset>(Presets);

        foreach (var smc in Constants.StaticMonthlyCosts)
        {
            if (Presets.Count(p => p.Name == smc.Name && p.ExpenseType == "Static Cost") == 0)
                if (!smc.Name.Contains("(EXAMPLE DATA)"))
                    Presets.Add(new Data.Preset(smc, "#058001", "#FFFFFF"));
        }

        Presets.Sort();
        PresetsForDel.Sort();

        List<string> dcis = new List<string>();
        List<string> others = new List<string>();

        foreach (var dci in Constants.DynamicCostItems)
            dcis.Add(dci.Name);

        others.Add("Static Cost");
        others.Add("Income");
        others.Add("Equity");
        others.Add("Transfer Between Accounts");
        others.Add("Paying Off Debt");


        dcis.Sort();

        others.Sort();
        others.Add("Other");
        string DynaText = "-- Dynamic Costs --";

        int longestDCI = dcis.OrderByDescending(s => s.Length).FirstOrDefault().Length;
        int longestOther = others.OrderByDescending(s => s.Length).FirstOrDefault().Length;
        int longestOfEach = Math.Max(longestDCI, longestOther);

        if (longestOfEach > DynaText.Length)
            ExpenseTypes.Add(Constants.CENTER(DynaText, longestOfEach, '-'));
        else if (longestOfEach > 0)
            ExpenseTypes.Add(DynaText);

        foreach (var str in dcis)
            ExpenseTypes.Add(str);

        ExpenseTypes.Add(Constants.CENTER(" Others ", DynaText.Length, '-'));

        foreach (var str in others)
            ExpenseTypes.Add(str);

        ExpenseTypesForPresets.AddRange(ExpenseTypes);
        ExpenseTypesForPresets.Add("Debt");
        return base.OnInitializedAsync();
    }

    public async void DeletePreset()
    {
        Preset exists = Presets.FirstOrDefault(p => p.Id == SelectedPreset);

        if (exists != null)
        {
            await PresetRepo.RemoveAsync(exists);
            PresetsForDel = new List<Preset>(Presets);
        }

        SelectedPreset = "NONE";
        StateHasChanged();
    }

    public async void Submit()
    {
        Disabled = true;
        ErrorMsg = string.Empty;
        ErrorColor = "red";
        bool tp1Amount = double.TryParse(Person1Amount, out double nam);
        bool tp2Amount = double.TryParse(Person2Amount, out double lam);

        tp1Amount = tp1Amount && nam != 0;
        tp2Amount = tp2Amount && lam != 0;

        ErrorMsg += string.IsNullOrEmpty(TransactionName) && ExpenseType != "Transfer" ? "Transaction Name must be set. " : "";
        ErrorMsg += string.IsNullOrEmpty(ExpenseType) ? "Please select an expense type. " : "";

        bool Amount1NumChk = !string.IsNullOrEmpty(PaidWithPerson1) && PaidWithPerson1 != "NONE" && !tp1Amount;
        bool Amount2NumChk = !string.IsNullOrEmpty(PaidWithPerson2) && PaidWithPerson2 != "NONE" && !tp2Amount;
        bool BothEmpty = string.IsNullOrEmpty(PaidWithPerson1) && string.IsNullOrEmpty(PaidWithPerson2);

        bool AmountUnfillPaidWith1 = tp1Amount && string.IsNullOrEmpty(PaidWithPerson1);
        bool AmountUnfillPaidWith2 = tp2Amount && string.IsNullOrEmpty(PaidWithPerson2);

        ErrorMsg += Amount1NumChk ? $"{Constants.Person1} Amount must be a number. " : "";
        ErrorMsg += Amount2NumChk ? $"{Constants.Person2} Amount must be a number. " : "";
        ErrorMsg += BothEmpty ? $"At least one person must pay. " : "";

        ErrorMsg += AmountUnfillPaidWith1 ? $"{Constants.Person1} paid with value must be set if their amount is non-zero. " : "";
        ErrorMsg += AmountUnfillPaidWith2 ? $"{Constants.Person2} paid with value must be set if their amount is non-zero. " : "";

        //ErrorMsg += !string.IsNullOrEmpty(ExpenseType) && ExpenseType == "Debt" ? "APR must be a number. " : "";
        //ErrorMsg += string.IsNullOrEmpty(Color) ? "Color must be set." : "";

        if (string.IsNullOrEmpty(ErrorMsg))
        {
            string TransName;

            if (ExpenseType == "Transfer")
            {
                TransName = "Transfer to ";

                if (!string.IsNullOrEmpty(PaidOffPerson1))
                {
                    if (!string.IsNullOrEmpty(PaidOffPerson2))
                    {
                        TransName += BalanceRepo.GetName(PaidOffPerson1) + "," + BalanceRepo.GetName(PaidOffPerson2);
                    }
                    else
                        TransName += BalanceRepo.GetName(PaidOffPerson1);
                }
                else if (!string.IsNullOrEmpty(PaidOffPerson2))
                    TransName += BalanceRepo.GetName(PaidOffPerson2);
            }
            else
                TransName = TransactionName;

            var nt = new Transaction(TransName, ExpenseType, nam, lam, BalanceRepo.GetName(PaidWithPerson1), BalanceRepo.GetName(PaidWithPerson2), BalanceRepo.GetName(PaidOffPerson1), BalanceRepo.GetName(PaidOffPerson2));
            nt.DateOfTransaction = DateTime.Now;
            var tr = await TransactionRepo.AddOrUpdateAsync(nt);

            ErrorColor = "green";
            ErrorMsg = TransName + " transaction was added!";

            TransactionName = string.Empty;
            Person1Amount = string.Empty;
            Person2Amount = string.Empty;
            ExpenseType = string.Empty;
            PaidOffPerson2 = string.Empty;
            PaidOffPerson1 = string.Empty;
            PaidWithPerson2 = string.Empty;
            PaidWithPerson1 = string.Empty;
        }

        Disabled = false;
        StateHasChanged();
    }
    public async void AddPreset()
    {
        ErrorMsg = string.Empty;
        ErrorColor = "red";
        bool tpNAmount = double.TryParse(Person1Amount, out double nam);
        bool tpLAmount = double.TryParse(Person2Amount, out double lam);

        ErrorMsg += string.IsNullOrEmpty(TransactionName) ? "Transaction Name must be set. " : "";
        ErrorMsg += string.IsNullOrEmpty(ExpenseType) ? "Please select an expense type. " : "";
        ErrorMsg += !string.IsNullOrEmpty(PaidWithPerson1) && PaidWithPerson1 != "NONE" && !tpNAmount ? $"{Constants.Person1} Amount must be a number. " : "";
        ErrorMsg += !string.IsNullOrEmpty(PaidWithPerson2) && PaidWithPerson2 != "NONE" && !tpLAmount ? $"{Constants.Person2} Amount must be a number. " : "";

        if (string.IsNullOrEmpty(ErrorMsg))
        {
            await PresetRepo.AddOrUpdateAsync(new Preset(TransactionName, ExpenseType, nam, lam, BalanceRepo.GetName(PaidWithPerson1), BalanceRepo.GetName(PaidWithPerson2), BalanceRepo.GetName(PaidOffPerson1), BalanceRepo.GetName(PaidOffPerson2), Hex, TextColor));
            PresetsForDel = new List<Preset>(Presets);

            Presets.Sort();
            PresetsForDel.Sort();

            ErrorColor = "green";
            ErrorMsg = TransactionName + " preset was added!";

            TransactionName = string.Empty;
            Person1Amount = string.Empty;
            Person2Amount = string.Empty;
            ExpenseType = string.Empty;
            PaidOffPerson2 = string.Empty;
            PaidOffPerson1 = string.Empty;
            PaidWithPerson2 = string.Empty;
            PaidWithPerson1 = string.Empty;
        }

        Disabled = false;
        StateHasChanged();
    }
}
