@using BetterBudgetWeb.Data
@using BetterBudgetWeb.Repo
@if (Mobile)
{
    <br />
    <br />
    <div>
        <label>Monthly Name:</label>
        <br />
        <input type="text" placeholder="Monthly Expense" @bind-value="@StaticName" @oninput="@(async (ui) => { StaticName = (string) ui.Value;})" />
    </div>
    <br />
    <div>
        <label>Monthly Variety:</label>
        <br />
        <select @bind="Dyna">
            <option value="@string.Empty" selected disabled="disabled">(Choose Type)</option>
            <option value="DYNAMIC">Dynamic Monthly Cost</option>
            <option value="STATIC">Set Monthly Cost</option>
        </select>
    </div>
    <br />
    <div>
        <label>When (Month Year):</label>
        <br />
        <select @bind="SelectMonth">
            @foreach (var item in Months)
            {
                <option value="@item">@item</option>
            }
        </select>
        <select @bind="SelectYear">
            <option value="1">All</option>
            <option value="@DateTime.Now.Year.ToString()">@DateTime.Now.Year</option>
            <option value="@DateTime.Now.AddYears(1).Year.ToString()">@DateTime.Now.AddYears(1).Year</option>
        </select>
    </div>
    <br />
    @if (Dyna == "DYNAMIC")
    {
        <div>
            <label>@("Total Amount:")</label>
            <br />
            <input type="number" placeholder="Amount" @bind-value="@TotalAmount" @oninput="@(async (ui) => { TotalAmount = (string) ui.Value;})" />
        </div>
    }
    else
    {
        <div>
            <label>@(Constants.Person1 + " Amount:")</label>
            <br />
            <input type="number" placeholder="Amount" @bind-value="@Person1Amount" @oninput="@(async (ui) => { Person1Amount = (string) ui.Value;})" />
        </div>
        <br />
        <div>
            <label>@(Constants.Person2 + " Amount:")</label>
            <br />
            <input type="number" placeholder="Amount" @bind-value="@Person2Amount" @oninput="@(async (ui) => { Person2Amount = (string) ui.Value;})" />
        </div>
    }
    <br style="clear:both;" />

    <br style="clear:both" />
    <button class="btn btn-secondary" disabled=@Disabled @onclick="Submit">Submit</button>
    <br />
    @if (!string.IsNullOrEmpty(ErrorMsg))
    {
        <p style="color:@ErrorColor">@ErrorMsg</p>
    }
}
else
{
    <div class="tabcontent">
        <div style="float:left; margin-right:10vw;">
            <label>Monthly Name:</label>
            <br />
            <input type="text" placeholder="Monthly Expense" @bind-value="@StaticName" @oninput="@(async (ui) => { StaticName = (string) ui.Value;})" />
        </div>
        <br style="clear:both;" />
        <br />
        <div style="float:left;margin-right:10vw;">
            <label>Monthly Variety:</label>
            <br />
            <select @bind="Dyna">
                <option value="@string.Empty" selected disabled="disabled">(Choose Type)</option>
                <option value="DYNAMIC">Dynamic Monthly Cost</option>
                <option value="STATIC">Set Monthly Cost</option>
            </select>
        </div>
        <div style="float:left;margin-right:10vw;">
            <label>When (Month Year):</label>
            <br />
            <select @bind="SelectMonth">
                @foreach (var item in Months)
                {
                    <option value="@item">@item</option>
                }
            </select>

            <select @bind="SelectYear">
                <option value="1">All</option>
                <option value="@DateTime.Now.Year.ToString()">@DateTime.Now.Year</option>
                <option value="@DateTime.Now.AddYears(1).Year.ToString()">@DateTime.Now.AddYears(1).Year</option>
            </select>
        </div>
        <br style="clear:both;" />
        <br />
        @if (Dyna == "DYNAMIC")
        {
            <div>
                <label>@("Total Amount:")</label>
                <br />
                <input type="number" placeholder="Amount" @bind-value="@TotalAmount" @oninput="@(async (ui) => { TotalAmount = (string) ui.Value;})" />
            </div>
        }
        else
        {
            <div style="float:left;margin-right:10vw;">
                <label>@(Constants.Person1 + " Amount:")</label>
                <br />
                <input type="number" placeholder="Amount" @bind-value="@Person1Amount" @oninput="@(async (ui) => { Person1Amount = (string) ui.Value;})" />
            </div>
            <div>
                <label>@(Constants.Person2 + " Amount:")</label>
                <br />
                <input type="number" placeholder="Amount" @bind-value="@Person2Amount" @oninput="@(async (ui) => { Person2Amount = (string) ui.Value;})" />
            </div>
        }
        <br style="clear:both;" />

        <br style="clear:both" />
        <button class="btn btn-secondary" disabled=@Disabled @onclick="Submit">Submit</button>
        <br />
        @if (!string.IsNullOrEmpty(ErrorMsg))
        {
            <p style="color:@ErrorColor">@ErrorMsg</p>
        }
    </div>
}
<br />
<br />

@code {
    [Parameter]
    public string StaticName { get; set; }
    [Parameter]
    public string Person1Amount { get; set; }
    [Parameter]
    public string Person2Amount { get; set; }
    [Parameter]
    public string TotalAmount { get; set; }

    public bool Mobile => Constants.Mobile;

    List<string> Months { get; set; } = new List<string>();
    string SelectMonth { get; set; } = "All";
    string SelectYear { get; set; } = "1";
    string Dyna { get; set; }

    bool Disabled;

    private string ErrorMsg { get; set; } = string.Empty;
    private string ErrorColor { get; set; } = "red";

    protected override Task OnInitializedAsync()
    {
        List<string> theMons = new List<string>{"January", "February",
                                            "March", "April", "May", "June", "July", "August", "September",
                                            "October", "November", "December"};
        int thisYear = DateTime.Now.Year;

        Months.Add("All");
        int startMonth = DateTime.Now.Month - 1;
        for (int index = startMonth; index < startMonth + 12; index++)
        {
            if (theMons[index % 12] == "January" && DateTime.Now.Month != 1)
                thisYear++;

            Months.Add(theMons[index % 12]);
        }

        Months.Sort(Constants.SortMonths);

        return base.OnInitializedAsync();
    }

    public async void Submit()
    {
        Disabled = true;
        ErrorMsg = string.Empty;
        ErrorColor = "red";
        bool tpNAmount = double.TryParse(Person1Amount, out double nam);
        bool tpLAmount = double.TryParse(Person2Amount, out double lam);
        bool tpTAmount = double.TryParse(TotalAmount, out double tam);

        if(Dyna == "DYNAMIC")
        {
            tpNAmount = tpTAmount;
            tpLAmount = tpTAmount;

            if (tpTAmount)
            {
                nam = Math.Ceiling(tam / 2);
                lam = Math.Floor(tam / 2);
            }
        }

        ErrorMsg += Dyna != "SAVINGS" && string.IsNullOrEmpty(StaticName) ? "Static Name must be set. " : "";
        ErrorMsg += !tpNAmount ? $"{Constants.Person1} Amount must be a number. " : "";
        ErrorMsg += !tpLAmount ? $"{Constants.Person2} Amount must be a number. " : "";
        ErrorMsg += string.IsNullOrEmpty(Dyna) ? "Cost Type must be specified. " : "";
        //ErrorMsg += !string.IsNullOrEmpty(ExpenseType) && ExpenseType == "Debt" ? "APR must be a number. " : "";
        //ErrorMsg += string.IsNullOrEmpty(Color) ? "Color must be set." : "";

        if (string.IsNullOrEmpty(ErrorMsg))
        {
            string mon;
            string year;
            var mons = await MonthlyRepo.AddOrUpdateAsync(StaticName, nam, lam, Dyna, SelectMonth + " " + SelectYear);

            ErrorColor = "green";
            ErrorMsg = StaticName + " Monthly was added!";

            StaticName = string.Empty;
            Person1Amount = string.Empty;
            Person2Amount = string.Empty;

            Constants.SetMonthlies(mons);
        }

        Disabled = false;
        StateHasChanged();
    }
}

